<aside class="menu" aria-label="<%= t('admin:adminTools') %>">
  <h2 class="menu-label is-hidden-touch">
    <%= t('admin:adminTools') %>
  </h2>
  <ul class="menu-list">
    <li>
      <a
        class="<%= (headTitle === t('admin:feeManagement') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/fees"
        title="<%= t('admin:feeManagement') %>"
      >
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-dollar-sign"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:fees') %>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === t('admin:contractTypeManagement') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/contractTypes"
        title="<%= t('admin:contractTypeManagement') %>">
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-file-contract"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:contractTypes') %>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === t('admin:burialSiteTypeManagement') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/burialSiteTypes"
        title="<%= t('admin:burialSiteTypeManagement') %>">
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-map-pin"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:burialSiteTypes') %>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === t('admin:configTableManagement') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/tables"
        title="<%= t('admin:configTableManagement') %>">
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-table"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:configTables') %>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === t('admin:userManagement') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/users"
        title="<%= t('admin:userManagement') %>">
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-users"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:users') %>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === t('admin:settingsManagement') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/settings"
        title="<%= t('admin:settingsManagement') %>">
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-sliders"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:settings') %>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === t('admin:databaseMaintenance') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/admin/database"
        title="<%= t('admin:databaseMaintenance') %>">
        <div class="columns is-1 is-mobile">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-database"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= t('admin:database') %>
          </div>
        </div>
      </a>
    </li>
  </ul>
</aside>