<%- include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-vcentered is-mobile">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard"><%= t('common:home') %></a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
                <span><%= t('admin:adminTools') %></span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Burial Site Type Management
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow has-text-right">
        <a
          class="has-text-info-dark is-size-7"
          href="https://cityssm.github.io/sunrise-cms/docs/burialSiteTypeManagement.html"
          title="Help Documentation"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span class="icon is-small"><i class="fa-regular fa-circle-question"></i></span>
          <span>Help</span>
        </a>
      </div>
    </div>
    
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          Burial Site Type Management
        </h1>
      </div>
      <div class="column has-text-right is-narrow is-hidden-print">
        <button
          class="button is-success"
          id="button--addBurialSiteType"
          type="button"
        >
          <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
          <span>Add Burial Site Type</span>
        </button>
      </div>
    </div>
    
    <div id="container--burialSiteTypes"></div>
  </div>
</div>

<%- include('../_footerA'); -%>

<script>
  exports.burialSiteTypes = <%- JSON.stringify(burialSiteTypes) %>;
  exports.bodyCapacityMaxDefault = <%- JSON.stringify(settingFunctions.getSettingValue('burialSiteTypes.bodyCapacityMaxDefault')) %>
  exports.crematedCapacityMaxDefault = <%- JSON.stringify(settingFunctions.getSettingValue('burialSiteTypes.crematedCapacityMaxDefault')) %>
</script>

<script src="<%= urlPrefix %>/javascripts/burialSiteTypes.admin.js"></script>

<%- include('../_footerB'); -%>
