<%- include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-vcentered is-mobile">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard"><%= t('common:home') %></a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
                <span><%= t('admin:adminTools') %></span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                <%= t('admin:settingsManagement') %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow has-text-right">
        <a class="has-text-info-dark is-size-7" href="https://cityssm.github.io/sunrise-cms/docs/settings.html" title="Help Documentation" rel="noopener noreferrer" target="_blank">
          <span class="icon is-small"><i class="fa-regular fa-circle-question"></i></span>
          <span><%= t('common:help') %></span>
        </a>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          <%= t('admin:settingsManagement') %>
        </h1>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input"
              id="settingsFilter"
              type="search"
              placeholder="Filter"
              aria-label="Filter Settings"
              autocomplete="off"
            />
            <span class="icon is-left">
              <i class="fa-solid fa-filter"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <table class="table is-striped is-hoverable is-fullwidth is-fixed has-sticky-header">
      <thead>
        <tr>
          <th>Setting</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id="settingsTableBody">
        <% for (const [index, setting] of Object.entries(settings)) { %>
          <% if (!setting.isUserConfigurable) { continue; } %>
          <tr data-search-string="<%= setting.settingKey %> <%= setting.settingName.toLowerCase() %> <%= setting.description ? setting.description.toLowerCase() : '' %>">
            <td>
              <label class="has-text-weight-bold" for="settingValue-<%= index %>">
                <%= setting.settingName %>
              </label><br />
              <span class="has-text-grey-dark">
                <%= setting.description || 'No description available' %>
              </span>
              <br />
              <small class="has-text-grey-dark">
                <%= setting.settingKey %>
              </small>
            </td>
            <td>
              <form class="settingForm">
                <input type="hidden" name="settingKey" value="<%= setting.settingKey %>" />
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <% if (setting.type === 'boolean') { %>
                      <div class="select is-fullwidth">
                        <select id="settingValue-<%= index %>" name="settingValue">
                          <option value="">Default: <%= setting.defaultValue %></option>
                          <option value="true" <%= setting.settingValue === 'true' ? 'selected' : '' %>>True</option>
                          <option value="false" <%= setting.settingValue === 'false' ? 'selected' : '' %>>False</option>
                        </select>
                      </div>
                    <% } else { %>
                      <input class="input" id="settingValue-<%= index %>" name="settingValue"
                        type="text"
                        value="<%= setting.settingValue %>"
                        placeholder="Default: <%= setting.defaultValue %>"
                        />
                      <% } %>
                  </div>
                  <div class="control">
                    <button class="button is-primary" type="submit">
                      <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
                      <span>Save</span>
                    </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/settings.admin.js"></script>

<%- include('../_footerB'); -%>
