<%- include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-narrow is-hidden-print">
    <%- include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-vcentered is-mobile">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard"><%= t('home') %></a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
                <span><%= t('admin:adminTools') %></span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                <%= t('admin:configTableManagement') %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow has-text-right">
        <a
          class="has-text-info-dark is-size-7"
          href="https://cityssm.github.io/sunrise-cms/docs/configTableManagement.html"
          title="Help Documentation"
          rel="help noopener noreferrer"
          target="_blank"
        >
          <span class="icon is-small"><i class="fa-regular fa-circle-question"></i></span>
          <span><%= t('help') %></span>
        </a>
      </div>
    </div>
    
    <h1 class="title is-1">
      <%= t('admin:configTableManagement') %>
    </h1>

    <div class="message is-warning">
      <div class="message-body">
        <strong>Never change the meaning of the values in these tables.</strong><br />
        When in doubt, create a new value instead of changing an existing one.
      </div>
    </div>
    
    <%- include('./_tables-workOrderTypes'); -%>
    <%- include('./_tables-workOrderMilestoneTypes'); -%>
    <%- include('./_tables-committalTypes'); -%>
    <%- include('./_tables-serviceTypes'); -%>
    <%- include('./_tables-intermentContainerTypes'); -%>
    <%- include('./_tables-intermentDepths'); -%>
    <%- include('./_tables-burialSiteStatuses'); -%>
  </div>
</div>

<%- include('../_footerA'); -%>

<script>
  exports.burialSiteStatuses = <%- JSON.stringify(burialSiteStatuses) %>;
  exports.committalTypes = <%- JSON.stringify(committalTypes) %>;
  exports.intermentContainerTypes = <%- JSON.stringify(intermentContainerTypes) %>;
  exports.intermentDepths = <%- JSON.stringify(intermentDepths) %>;
  exports.serviceTypes = <%- JSON.stringify(serviceTypes) %>;
  exports.workOrderMilestoneTypes = <%- JSON.stringify(workOrderMilestoneTypes) %>;
  exports.workOrderTypes = <%- JSON.stringify(workOrderTypes) %>;
</script>

<script src="<%= urlPrefix %>/javascripts/tables.admin.js"></script>

<script src="<%= urlPrefix %>/javascripts/burialSiteStatuses.admin.js"></script>
<script src="<%= urlPrefix %>/javascripts/committalTypes.admin.js"></script>
<script src="<%= urlPrefix %>/javascripts/intermentContainerTypes.admin.js"></script>
<script src="<%= urlPrefix %>/javascripts/intermentDepths.admin.js"></script>
<script src="<%= urlPrefix %>/javascripts/serviceTypes.admin.js"></script>
<script src="<%= urlPrefix %>/javascripts/workOrderMilestoneTypes.admin.js"></script>
<script src="<%= urlPrefix %>/javascripts/workOrderTypes.admin.js"></script>

<%- include('../_footerB'); -%>
