<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <span class="icon is-small"><i class="fa-solid fa-scroll"></i></span>
        <span>Update Log</span>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">Update Log</h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <div class="field has-addons">
        <div class="control">
          <label class="button is-static has-text-grey-dark" for="filter--recordType">
            Record Type
          </label>
        </div>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select id="filter--recordType">
              <option value="">(All Record Types)</option>
              <optgroup label="Core Records">
                <option value="workOrder">Work Orders</option>
                <option value="contract">Contracts</option>
                <option value="burialSite">Burial Sites</option>
              </optgroup>
              <optgroup label="Work Orders">
                <option value="workOrderMilestone">Work Order Milestones</option>
              </optgroup>
              <optgroup label="Transactions & Fees">
                <option value="contractFee">Contract Fees</option>
                <option value="contractTransactions">Contract Transactions</option>
              </optgroup>
              <optgroup label="Comments">
                <option value="comments">All Comments</option>
                <option value="workOrderComment">Work Order Comments</option>
                <option value="contractComment">Contract Comments</option>
                <option value="burialSiteComment">Burial Site Comments</option>
              </optgroup>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-narrow">
      <div class="field has-addons">
        <div class="control">
          <label class="button is-static has-text-grey-dark" for="filter--limit">
            Limit
          </label>
        </div>
        <div class="control">
          <div class="select">
            <select id="filter--limit">
              <option value="10">10</option>
              <option value="50" selected>50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p class="has-text-right">
    <button class="button is-info" id="button--exportUpdateLog" type="button">
      <span class="icon is-small"><i class="fa-solid fa-download"></i></span>
      <span>Export CSV</span>
    </button>
  </p>
</div>

<table
  class="table is-striped is-hoverable is-fullwidth is-hidden"
  id="table--updateLog"
>
  <thead>
    <tr>
      <th class="has-width-1">Type</th>
      <th>Record</th>
      <th>Description</th>
      <th class="is-clickable" id="header--updated" data-sort="recordUpdate_timeMillis">
        <span>Updated</span>
        <span class="icon is-small ml-1">
          <i class="fa-solid fa-sort-down"></i>
        </span>
      </th>
      <th class="is-clickable" id="header--created" data-sort="recordCreate_timeMillis">
        <span>Created</span>
        <span class="icon is-small ml-1">
          <i class="fa-solid fa-sort"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<button
  class="button is-fullwidth mt-4 is-hidden"
  id="button--updateLogLoadMore"
  type="button"
>
  <span class="icon is-small"><i class="fa-solid fa-arrow-down"></i></span>
  <span>Load More</span>
</button>

<div class="has-text-centered pt-4" id="loading--updateLog">
  <div class="icon">
    <i class="fa-solid fa-4x fa-spinner fa-spin-pulse"></i>
  </div>
  <div>Loading Update Log...</div>
</div>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/updateLog.js"></script>

<%- include('../_footerB'); -%>
