<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('common:home') %></a></li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
        <span><%= t('dashboard:userSettings') %></span>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <%= t('dashboard:userSettings') %>
</h1>

<div class="columns">
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading"><%= t('dashboard:userSettingsLanguage') %></h2>
      <div class="panel-block is-block">
        <div class="columns">
          <div class="column">
            <p class="title is-6"><%= t('dashboard:preferredLanguages') %></p>
            <a class="button is-fullwidth<% if (lng === 'en') { %> is-primary<% } %>"
              href="?lng=en">
              <span class="icon is-small">
                <i class="fa-solid fa-language"></i>
              </span>
              <span>English</span>
            </a>
          </div>
          <div class="column">
            <div class="message is-warning">
              <div class="message-body is-size-7">
                <p><%= t('dashboard:incompleteLanguages') %></p>
              </div>
            </div>
            <a class="button is-fullwidth<% if (lng === 'de') { %> is-primary<% } %>"
              href="?lng=de">
              <span class="icon is-small">
                <i class="fa-solid fa-language"></i>
              </span>
              <span>Deutsch</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <h2 class="panel-heading"><%= t('dashboard:userSettingsApiKeyReset') %></h2>
      <div class="panel-block is-block">
        <div class="message is-warning">
          <div class="message-body is-size-7">
            <p><%= t('dashboard:userSettingsApiKeyDescription1') %></p>
            <p><%= t('dashboard:userSettingsApiKeyDescription2') %></p>
          </div>
        </div>
        <div class="has-text-right">
          <button class="button is-warning" id="button--resetApiKey" type="button">
            <span class="icon is-small">
              <i class="fa-solid fa-rotate"></i>
            </span>
            <span><%= t('dashboard:userSettingsResetApiKey') %></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <% const hasConsignoEnabled = configFunctions.getConfigProperty('integrations.consignoCloud.integrationIsEnabled') %>
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <h2 class="has-text-weight-bold">ConsignO Cloud</h2>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <% if (hasConsignoEnabled) { %>
              <span class="tag is-success">
                <span class="icon">
                  <i class="fa-solid fa-check"></i>
                </span>
                <span><%= t('common:enabled') %></span>
              </span>
              <% } else { %>
              <span class="tag is-danger">
                <span class="icon">
                  <i class="fa-solid fa-times"></i>
                </span>
                <span><%= t('common:disabled') %></span>
              </span>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <div class="message is-info is-small">
          <div class="message-body">
            <p>
              <%- t('dashboard:userSettingsConsignoCloudDescription', {
                consignoCloudLink: '<a href="https://consignocloud.com/" rel="noopener noreferrer" target="_blank">ConsignO Cloud</a>'
              }) %>
            </p>
          </div>
        </div>
        <% if (hasConsignoEnabled) { %>
        <div class="content">
          <form id="userSettingsForm--consignoCloud">
            <div class="columns is-desktop">
              <div class="column">
                <div class="field">
                  <label class="label" for="consignoCloud--userName"><%= t('dashboard:userSettingsConsignoCloudUserName') %></label>
                  <div class="control">
                    <input
                      class="input"
                      id="consignoCloud--userName"
                      name="userName"
                      type="email"
                      value="<%= user.userSettings['consignoCloud.userName'] ?? '' %>"
                      autocomplete="off"
                    />
                  </div>
                  <p class="help">
                    <%= t('dashboard:userSettingsConsignoCloudUserNameHelp') %>
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="consignoCloud--thirdPartyApplicationPassword"><%= t('dashboard:userSettingsConsignoCloudPassword') %></label>
                  <div class="control">
                    <input
                      class="input"
                      id="consignoCloud--thirdPartyApplicationPassword"
                      name="thirdPartyApplicationPassword"
                      type="text"
                      value=""
                      placeholder="<%= t('dashboard:userSettingsConsignoCloudPasswordUnchanged') %>"
                      autocomplete="off"
                    />
                  </div>
                  <p class="help">
                    <%= t('dashboard:userSettingsConsignoCloudPasswordHelp') %>
                  </p>
                </div>
              </div>
            </div>
            <p class="has-text-right">
              <button class="button is-primary" type="submit">
                <span class="icon is-small">
                  <i class="fa-solid fa-save"></i>
                </span>
                <span><%= t('dashboard:userSettingsConsignoCloudSave') %></span>
              </button>
            </p>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="column">
    <% const hasNtfyEnabled = configFunctions.getConfigProperty('integrations.ntfy.integrationIsEnabled') %>
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <h2 class="has-text-weight-bold"><%= t('dashboard:userSettingsNtfyNotifications') %></h2>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <% if (hasNtfyEnabled) { %>
              <span class="tag is-success">
                <span class="icon">
                  <i class="fa-solid fa-check"></i>
                </span>
                <span><%= t('common:enabled') %></span>
              </span>
              <% } else { %>
              <span class="tag is-danger">
                <span class="icon">
                  <i class="fa-solid fa-times"></i>
                </span>
                <span><%= t('common:disabled') %></span>
              </span>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <div class="message is-info is-small">
          <div class="message-body">
            <p>
              <%- t('dashboard:userSettingsNtfyDescription', {
                ntfyLink: '<a href="https://ntfy.sh/" rel="noopener noreferrer" target="_blank">NTFY</a>'
              }) %>
            </p>
          </div>
        </div>
        <% if (hasNtfyEnabled) { %>
        <div class="content">
          <p class="has-text-centered">
            <strong><%= t('dashboard:userSettingsNtfyServer') %></strong><br />
            <%= configFunctions.getConfigProperty("integrations.ntfy.server") || t('dashboard:userSettingsNtfyDefaultServer') %>
          </p>

          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
              <tr>
                <th><%= t('dashboard:userSettingsNtfyEvent') %></th>
                <th><%= t('dashboard:userSettingsNtfyTopic') %></th>
              </tr>
            </thead>
            <tbody>
              <% for (const [eventName, ntfyTopic] of Object.entries(configFunctions.getConfigProperty("integrations.ntfy.topics"))) { %>
              <%
              if ((ntfyTopic ?? '') === '') {
              continue
              } 
              %>
              <tr>
                <td><%= eventName %></td>
                <td>
                  <%= ntfyTopic %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/userSettings.js"></script>

<%- include('../_footerB'); -%>