<% const burialSiteSearchUrl = urlPrefix + "/burialSites?cemeteryId=" + cemetery.cemeteryId; %>
<div class="panel mt-4">
  <div class="panel-heading">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h2 class="title is-5 has-text-white has-text-weight-bold">
            <%= t('cemeteries:burialSiteSummaries') %>
            <a class="tag is-link ml-2" href="<%= burialSiteSearchUrl %>">
              <%= cemetery.burialSiteCount %>
            </a>
          </h2>
        </div>
      </div>
      <div class="level-right">
        <% if (includeCreateButton) { %>
        <div class="level-item">
          <a class="button is-small is-success has-text-weight-normal" href="<%=urlPrefix %>/burialSites/new?cemeteryId=<%= cemetery.cemeteryId %>">
            <span class="icon"><i class="fa-solid fa-plus"></i></span>
            <span><%= t('cemeteries:createBurialSite') %></span>
          </a>
        </div>
        <% } %>
        <div class="level-item">
          <a class="button is-small has-text-weight-normal" href="<%=urlPrefix %>/reports/burialSites-byCemeteryId?cemeteryId=<%= cemetery.cemeteryId %>" download>
            <span class="icon"><i class="fa-solid fa-download"></i></span>
            <span><%= t('cemeteries:exportAll') %></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block is-block">
    <% if (cemetery.burialSiteCount === 0) { %>
    <div class="message is-info">
      <p class="message-body">
        <%= t('cemeteries:noBurialSites') %>
      </p>
    </div>
    <% } else { %>
    <div class="columns">
      <div class="column">
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th><%= t('common:type') %></th>
              <th class="has-width-1 has-text-right">
                <%= t('cemeteries:burialSites') %>
              </th>
              <th class="has-width-1 has-text-right">
                <%= t('cemeteries:percentage') %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for (const burialSiteType of burialSiteTypeSummary) { %>
            <tr>
              <td>
                <a class="has-text-weight-bold" href="<%= burialSiteSearchUrl %>&burialSiteTypeId=<%= burialSiteType.burialSiteTypeId %>">
                  <%= burialSiteType.burialSiteType %>
                </a>
              </td>
              <td class="has-text-right">
                <%= burialSiteType.burialSiteCount %>
              </td>
              <td class="has-text-right">
                <%= ((burialSiteType.burialSiteCount / cemetery.burialSiteCount) * 100).toFixed(1) %>%
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th><%= t('common:status') %></th>
              <th class="has-width-1 has-text-right">
                <%= t('cemeteries:burialSites') %>
              </th>
              <th class="has-width-1 has-text-right">
                <%= t('cemeteries:percentage') %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for (const burialSiteStatus of burialSiteStatusSummary) { %>
            <tr>
              <td>
                <% if (burialSiteStatus.burialSiteStatusId === null) { %>
                <%= t('cemeteries:noStatus') %>
                <% } else { %>
                <a class="has-text-weight-bold" href="<%= burialSiteSearchUrl %>&burialSiteStatusId=<%= burialSiteStatus.burialSiteStatusId %>">
                  <%= burialSiteStatus.burialSiteStatus %>
                </a>
                <% } %>
              </td>
              <td class="has-text-right">
                <%= burialSiteStatus.burialSiteCount %>
              </td>
              <td class="has-text-right">
                <%= ((burialSiteStatus.burialSiteCount / cemetery.burialSiteCount) * 100).toFixed(1) %>%
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <% } %>
  </div>
</div>