<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('common:home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/cemeteries">
        <span class="icon is-small"><i class="fa-regular fa-map"></i></span>
        <span><%= t('cemeteries:cemeteries') %></span>
      </a>
    </li>
    <% if (!isCreate) { %>
      <li>
        <a href="<%= urlPrefix %>/cemeteries/<%= cemetery.cemeteryId %>">
          <%= cemetery.cemeteryName || ('(' + t('cemeteries:noName') + ')') %>
        </a>
      </li>
    <% } %>
    <li class="is-active">
      <a href="#" aria-current="page">
        <% if (isCreate) { %>
          <%= t('cemeteries:createNewCemetery') %>
        <% } else { %>
          <%= t('common:update') %>
        <% } %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <% if (isCreate) { %>
    <%= t('cemeteries:createNewCemetery') %>
  <% } else { %>
    <%= t('cemeteries:updateCemetery') %>
  <% } %>
</h1>

<div class="columns is-vcentered is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <% if (!isCreate) { %>
      <span class="has-text-weight-bold">
        <%= cemetery.cemeteryName || ('(' + t('cemeteries:noName') + ')') %>
      </span>
    <% } %>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <% if (isCreate) { %>
        <a class="button is-danger is-light" href="<%= urlPrefix %>/cemeteries">
          <%= t('common:cancel') %>
        </a>
      <% } else { %>
        <div class="dropdown is-right is-up" data-cy="dropdown--moreOptions">
          <div class="dropdown-trigger">
            <button class="button" type="button">
              <span><%= t('common:moreOptions') %></span>
              <span class="icon is-small">
                <i class="fa-solid fa-angle-up"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <a class="dropdown-item" id="button--deleteCemetery" href="#">
                <span class="icon is-small"><i class="fa-solid fa-trash has-text-danger"></i></span>
                <span><%= t('cemeteries:deleteCemetery') %></span>
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <button class="button is-primary is-light" type="submit" form="form--cemetery">
        <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
        <span>
          <%= (isCreate ? t('common:create') : t('common:update')) %>
          <span class="is-hidden-mobile"><%= t('cemeteries:cemetery') %></span>
        </span>
      </button>
    </div>
  </div>
</div>

<form id="form--cemetery">
  <input id="cemetery--cemeteryId" name="cemeteryId" type="hidden" value="<%= cemetery.cemeteryId %>" />

  <div class="columns">
    <div class="column">
      <div class="panel">
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="cemetery--cemeteryName"><%= t('cemeteries:cemeteryName') %></label>
            <div class="control has-icons-right">
              <input class="input" id="cemetery--cemeteryName" name="cemeteryName" type="text"
                value="<%= cemetery.cemeteryName %>"
                maxlength="200"
                autocomplete="off"
                required
                <%= (isCreate ? " autofocus" : "") %> />
              <span class="icon is-small is-right">
                <i class="fa-solid fa-asterisk"></i>
              </span>
            </div>
          </div>
          <%
            const cemeteryKeyIsRequired = configFunctions.getConfigProperty('settings.burialSites.burialSiteNameSegments.includeCemeteryKey');
          %>
          <div class="field">
            <label class="label" for="cemetery--cemeteryKey"><%= t('cemeteries:cemeteryKey') %></label>
            <div class="control has-icons-right">
              <input class="input" id="cemetery--cemeteryKey" name="cemeteryKey" type="text"
                value="<%= cemetery.cemeteryKey %>"
                maxlength="20"
                autocomplete="off"
                <%= cemeteryKeyIsRequired ? ' required' : '' %> />
              <% if (cemeteryKeyIsRequired) { %>
                <span class="icon is-small is-right">
                  <i class="fa-solid fa-asterisk"></i>
                </span>
              <% } %>
              <% if (cemeteryKeyIsRequired) { %>
                <p class="help">
                  <%= t('cemeteries:cemeteryKeyDescription') %>
                </p>
              <% } %>
            </div>
          </div>
          <div class="field">
            <label class="label" for="cemetery--cemeteryDescription"><%= t('cemeteries:cemeteryDescription') %></label>
            <div class="control">
              <textarea class="textarea" id="cemetery--cemeteryDescription" name="cemeteryDescription"><%= cemetery.cemeteryDescription %></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label" for="cemetery--parentCemeteryId"><%= t('cemeteries:parentCemetery') %></label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="cemetery--parentCemeteryId" name="parentCemeteryId" <%= (cemetery.childCemeteries.length > 0 ? 'disabled' : '') %>>
                  <option value="">(<%= t('cemeteries:noParentCemetery') %>)</option>
                  <% for (const parentCemetery of cemeteries) { %>
                    <%
                      if (parentCemetery.cemeteryId === cemetery.cemeteryId || parentCemetery.parentCemeteryId !== null) {
                        // Skip the current cemetery and any cemeteries that are already a parent
                        continue;
                      }
                    %>
                    <option value="<%= parentCemetery.cemeteryId %>" <%= (cemetery.parentCemeteryId === parentCemetery.cemeteryId) ? " selected" : "" %>>
                      <%= parentCemetery.cemeteryName === '' ? ('(' + t('cemeteries:noName') + ')') : parentCemetery.cemeteryName %>
                    </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <h2 class="title is-5 has-text-weight-bold has-text-white"><%= t('common:address') %></h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <i class="fa-solid fa-location-arrow"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="cemetery--cemeteryAddress1"><%= t('common:address') %></label>
            <div class="control">
              <input class="input" id="cemetery--cemeteryAddress1" name="cemeteryAddress1" type="text"
                value="<%= cemetery.cemeteryAddress1 %>"
                maxlength="50"
                autocomplete="off"
                placeholder="<%= t('common:addressLine1') %>" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="cemetery--cemeteryAddress2" name="cemeteryAddress2" type="text"
                value="<%= cemetery.cemeteryAddress2 %>"
                maxlength="50"
                autocomplete="off"
                placeholder="<%= t('common:addressLine2') %>" aria-label="<%= t('common:addressLine2') %>" />
            </div>
          </div>
          <div class="columns">
            <div class="column is-8">
              <div class="field">
                <label class="label" for="cemetery--cemeteryCity"><%= t('common:city') %></label>
                <div class="control">
                  <input class="input" id="cemetery--cemeteryCity" name="cemeteryCity" value="<%= cemetery.cemeteryCity %>" maxlength="20" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="cemetery--cemeteryProvince"><%= t('common:province') %></label>
                <div class="control">
                  <input class="input" id="cemetery--cemeteryProvince" name="cemeteryProvince"
                    type="text"
                    value="<%= cemetery.cemeteryProvince %>"
                    maxlength="2" />
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="cemetery--cemeteryPostalCode"><%= t('common:postalCode') %></label>
                <div class="control">
                  <input class="input" id="cemetery--cemeteryPostalCode" name="cemeteryPostalCode"
                    type="text"
                    value="<%= cemetery.cemeteryPostalCode %>"
                    minlength="5"
                    maxlength="7"
                    pattern="^[A-Z\d \-]+$"
                    autocomplete="off" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="cemetery--cemeteryPhoneNumber"><%= t('common:phoneNumber') %></label>
                <div class="control">
                  <input class="input" id="cemetery--cemeteryPhoneNumber" name="cemeteryPhoneNumber"
                    value="<%= cemetery.cemeteryPhoneNumber %>"
                    maxlength="30"
                    autocomplete="off" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <h2 class="title is-5 has-text-weight-bold has-text-white"><%= t('cemeteries:geographicLocation') %></h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <button class="button is-small" id="button--selectCoordinate" type="button">
                  <span class="icon"><i class="fa-solid fa-map-marked-alt"></i></span>
                  <span><%= t('cemeteries:selectCoordinate') %></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="cemetery--cemeteryLatitude"><%= t('cemeteries:latitude') %></label>
            <div class="control">
              <input class="input" id="cemetery--cemeteryLatitude" name="cemeteryLatitude" type="number"
                min="<%= configFunctions.getConfigProperty('settings.latitudeMin') %>"
                max="<%= configFunctions.getConfigProperty('settings.latitudeMax') %>"
                step="0.00000001" value="<%= cemetery.cemeteryLatitude %>" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="cemetery--cemeteryLongitude"><%= t('cemeteries:longitude') %></label>
            <div class="control">
              <input class="input" id="cemetery--cemeteryLongitude" name="cemeteryLongitude" type="number"
                min="<%= configFunctions.getConfigProperty('settings.longitudeMin') %>"
                max="<%= configFunctions.getConfigProperty('settings.longitudeMax') %>"
                step="0.00000001" value="<%= cemetery.cemeteryLongitude %>" />
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <h2 class="title is-5 has-text-weight-bold has-text-white"><%= t('cemeteries:image') %></h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <i class="fa-solid fa-image"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="cemetery--cemeterySvg"><%= t('cemeteries:svgFile') %></label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="cemetery--cemeterySvg" name="cemeterySvg">
                  <option value="">(<%= t('cemeteries:selectAFile') %>)</option>
                  <% for (const cemeterySVG of cemeterySVGs) { %>
                    <option value="<%= cemeterySVG %>" <%= (cemetery.cemeterySvg === cemeterySVG) ? " selected" : "" %>>
                      <%= cemeterySVG %>
                    </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <h2 class="title is-5 has-text-weight-bold has-text-white"><%= t('cemeteries:directionsOfArrival') %></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block is-block">
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
              <tr>
                <th class="has-width-1">
                  <span class="is-sr-only">Selected</span>
                </th>
                <th><%= t('cemeteries:direction') %></th>
                <th><%= t('common:description') %></th>
              </tr>
            </thead>
            <tbody>
              <% for (const direction of dataLists.directionsOfArrival) { %>
                <%
                  const directionIsSelected = cemetery.directionsOfArrival[direction] || false;
                %>
                <tr>
                  <td class="is-vcentered">
                    <div class="control">
                      <input id="cemetery--directionOfArrival_<%= direction %>" name="directionOfArrival_<%= direction %>"
                        type="checkbox" value="<%= direction %>"
                        <%= directionIsSelected ? " checked" : "" %> />
                    </div>
                  </td>
                  <td class="is-vcentered">
                    <label for="cemetery--directionOfArrival_<%= direction %>">
                      <span><%= direction %></span>
                    </label>
                  </td>
                  <td>
                    <div class="control">
                      <input class="input" id="cemetery--directionOfArrivalDescription_<%= direction %>"
                        name="directionOfArrivalDescription_<%= direction %>"
                        type="text"
                        value="<%= cemetery.directionsOfArrival[direction] || "" %>"
                        maxlength="100"
                        placeholder="<%= t('common:description') %>"
                        <%= directionIsSelected ? "" : "disabled" %>
                        />
                    </div>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

<% if (!isCreate) { %>
  <%- include('./_viewEdit-burialSiteSummaries', {
    includeCreateButton: true
  }); -%>
<% } %>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/cemetery.edit.js"></script>

<%- include('../_footerB'); -%>