<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('common:home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/cemeteries">
        <span class="icon is-small"><i class="fa-regular fa-map"></i></span>
        <span><%= t('cemeteries:cemeteries') %></span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <%= cemetery.cemeteryName || t('cemeteries:noName') %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <%= cemetery.cemeteryName || t('cemeteries:noName') %>
  <% if (cemetery.cemeteryKey !== '') { %>
    <span class="tag is-large"><%= cemetery.cemeteryKey %></span>
  <% } %>
</h1>


<div class="columns is-vcentered p-0 is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <span class="has-text-weight-bold">
      <%= cemetery.cemeteryName || t('cemeteries:noName') %>
    </span>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <a class="button is-link is-outlined"
        href="<%= urlPrefix %>/cemeteries/<%= cemetery.cemeteryId %>/previous"
        title="<%= t('cemeteries:previousCemetery') %>"
      >
        <span class="icon m-0"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="is-sr-only"><%= t('cemeteries:previousCemetery') %></span>
      </a>
      <a class="button is-link"
        href="<%= urlPrefix %>/cemeteries/<%= cemetery.cemeteryId %>/next"
        title="<%= t('common:next') %>"
      >
        <span><%= t('common:next') %></span>
        <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
      </a>
      <% if (user.userProperties.canUpdateCemeteries) { %>
      <div class="level-item">
        <a class="button is-primary"
          href="<%= urlPrefix %>/cemeteries/<%= cemetery.cemeteryId %>/edit"
        >
          <span class="icon"><i class="fa-solid fa-pencil-alt"></i></span>
          <span>
            <%= t('common:edit') %>
            <span class="is-hidden-mobile"><%= t('cemeteries:cemetery') %></span>
          </span>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">
        <% if (cemetery.cemeteryDescription && cemetery.cemeteryDescription !== "") { %>
        <p class="mb-2">
          <strong><%= t('common:description') %></strong><br />
          <%= cemetery.cemeteryDescription %>
        </p>
        <% } %>
        <p class="mb-2">
          <strong><%= t('common:address') %></strong><br />
          <% if (cemetery.cemeteryAddress1 !== "") { %>
          <%= cemetery.cemeteryAddress1 %><br />
          <% } %>
          <% if (cemetery.cemeteryAddress2 !== "") { %>
          <%= cemetery.cemeteryAddress2 %><br />
          <% } %>
          <%= cemetery.cemeteryCity %>, <%= cemetery.cemeteryProvince %><br />
          <%= cemetery.cemeteryPostalCode %>
        </p>
        <% if (cemetery.cemeteryPhoneNumber !== "") { %>
        <p>
          <strong><%= t('common:phoneNumber') %></strong><br />
          <%= cemetery.cemeteryPhoneNumber %>
        </p>
        <% } %>
      </div>
      <% if (cemetery.parentCemeteryId !== null) { %>
      <div class="column">
        <strong><%= t('cemeteries:parentCemetery') %></strong><br />
        <a href="<%= urlPrefix %>/cemeteries/<%= cemetery.parentCemeteryId %>">
          <span class="icon"><i class="fa-regular fa-map"></i></span>
          <%= (cemetery.parentCemeteryName ?? '') === '' ? t('cemeteries:noName') : cemetery.parentCemeteryName %>
        </a>
      </div>
      <% } else if (cemetery.childCemeteries.length > 0) { %>
      <div class="column">
        <strong><%= t('cemeteries:childCemeteries') %></strong><br />
        <ul>
          <% for (const childCemetery of cemetery.childCemeteries) { %>
          <li>
            <a href="<%= urlPrefix %>/cemeteries/<%= childCemetery.cemeteryId %>">
              <span class="icon"><i class="fa-regular fa-map"></i></span>
              <%= (childCemetery.cemeteryName ?? '') === '' ? t('cemeteries:noName') : childCemetery.cemeteryName %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <h2 class="title is-5 has-text-weight-bold has-text-white"><%= t('cemeteries:geographicLocation') %></h2>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <a class="button is-small is-light" href="<%= urlPrefix %>/burialSites/map?cemeteryId=<%= cemetery.cemeteryId %>" title="<%= t('cemeteries:burialSiteMap') %>">
                <span class="icon">
                  <i class="fa-solid fa-map-location-dot"></i>
                </span>
                <span><%= t('cemeteries:burialSiteMap') %></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <!-- eslint-disable html/no-duplicate-id -->
        <% if (cemetery.cemeteryLatitude && cemetery.cemeteryLongitude) { %>
          <div id="cemetery--leaflet" data-latitude="<%= cemetery.cemeteryLatitude %>" data-longitude="<%= cemetery.cemeteryLongitude %>" style="height:300px"></div>
        <% } else if (cemetery.parentCemeteryLatitude && cemetery.parentCemeteryLongitude) { %>
          <div class="message is-info">
            <p class="message-body">
              <strong>Coordinates not available for this child cemetery.</strong><br />
              Coordinates for the parent cemetery are shown instead.
            </p>
          </div>
          <div id="cemetery--leaflet" data-latitude="<%= cemetery.parentCemeteryLatitude %>" data-longitude="<%= cemetery.parentCemeteryLongitude %>" style="height:300px"></div>
        <% } else { %>
          <div class="message is-info">
            <p class="message-body">
              There are no geographic coordinates associated with this cemetery.
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <h2 class="title is-5 has-text-weight-bold has-text-white"><%= t('cemeteries:image') %></h2>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <i class="fa-solid fa-image"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <% if (cemetery.cemeterySvg) { %>
          <% const imageURL = urlPrefix + "/public-internal/images/cemeteries/" + cemetery.cemeterySvg %>
          <a class="image" href="<%= imageURL %>" target="_blank">
            <%- include('../../' + configFunctions.getConfigProperty('settings.customizationsPath') + '/public-internal/images/cemeteries/' + cemetery.cemeterySvg); -%>
          </a>
        <% } else { %>
          <div class="message is-info">
            <p class="message-body">There are no image associated with this cemetery.</p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('./_viewEdit-burialSiteSummaries', {
    includeCreateButton: false
  }); -%>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/cemetery.view.js"></script>

<%- include('../_footerB'); -%>