</main>
<footer class="footer has-background-grey-lighter is-hidden-print mt-4">
  <div class="container">
    <div class="content has-text-right has-text-grey-dark">
      <strong>
        <%= configFunctions.getConfigProperty("application.applicationName") %>
      </strong><br />
      <span class="is-size-7">
        Build
        <a
          class="has-text-grey-dark"
          href="https://github.com/cityssm/sunrise-cms/releases/tag/v<%= buildNumber %>"
          rel="noreferrer"
          target="_blank"
        >
          v<%= buildNumber %>
        </a>
      </span>
    </div>
  </div>
</footer>
<script>
  window.exports = window.exports || {};
  exports.aliases = {
    externalReceiptNumber: "<%= settingFunctions.getSettingValue('aliases.externalReceiptNumber') %>",
    workOrderOpenDate: "<%= settingFunctions.getSettingValue('aliases.workOrderOpenDate') %>",
    workOrderCloseDate: "<%= settingFunctions.getSettingValue('aliases.workOrderCloseDate') %>"
  };
  exports.dynamicsGPIntegrationIsEnabled = <%= configFunctions.getConfigProperty('integrations.dynamicsGP.integrationIsEnabled') %>;
</script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-js/bulma-js.js"></script>
<script src="<%= urlPrefix %>/lib/cityssm-bulma-webapp-js/cityssm.js"></script>
<script src="<%= urlPrefix %>/lib/leaflet/leaflet-global.js"></script>
<script src="<%= urlPrefix %>/lib/i18next/i18next.min.js"></script>
<script src="<%= urlPrefix %>/lib/i18next-http-backend/i18nextHttpBackend.min.js"></script>
<script>
  i18next.use(i18nextHttpBackend).init({
    lng: '<%= lng %>',
    showSupportNotice: false,
    fallbackLng: 'en',
    supportedLngs: ['en', 'de'],
    ns: ['common', 'login', 'dashboard', 'navigation', 'errors'],
    backend: {
      loadPath: "<%= urlPrefix %>/locales/{{lng}}/{{ns}}.json"
    }
  });

  cityssm.htmlModalFolder = "<%= urlPrefix %>/html/";
  bulmaJS.init();
</script>
<script src="<%= urlPrefix %>/lib/fa/js/all.min.js" defer></script>
<script src="<%= urlPrefix %>/javascripts/main.js"></script>
<script src="<%= urlPrefix %>/javascripts/theme.js" defer></script>