<!DOCTYPE html>
<html class="has-navbar-fixed-top is-fullwidth" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content="<%= csrfToken %>" />

  <title>
    <%= headTitle %>:
    <%= configFunctions.getConfigProperty("application.applicationName") %>
  </title>

  <link rel="icon" href="<%= urlPrefix + configFunctions.getConfigProperty("application.logoURL") %>" />

  <link rel="stylesheet" href="<%= urlPrefix %>/lib/cityssm-bulma-sticky-table/bulma-with-sticky-table.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/bulma-tooltip/bulma-tooltip.min.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/cityssm-fa-glow/fa-glow.min.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/sunrise.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/leaflet/leaflet.css" />
</head>

<body>
  <nav class="navbar is-light is-fixed-top" id="cityssm-theme--navbar" role="navigation"
    aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= urlPrefix %>/dashboard" accesskey="0">
          <img
            src="<%= urlPrefix + configFunctions.getConfigProperty("application.logoURL") %>"
            alt=""
            height="28"
            width="28" />
          <strong><%= configFunctions.getConfigProperty("application.applicationName") %></strong>
        </a>
        <a class="navbar-burger burger is-hidden-print" role="button" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="<%= urlPrefix %>/workOrders" accesskey="1">
            <span class="icon">
              <i class="fas fa-hard-hat" aria-hidden="true"></i>
            </span>
            <span>Work Orders</span>
          </a>

          <a class="navbar-item" href="<%= urlPrefix %>/contracts" accesskey="2">
            <span class="icon">
              <span class="fa-layers fa-fw" aria-hidden="true">
                <i class="fas fa-vector-square"></i>
                <i class="fas fa-user" data-fa-transform="shrink-10"></i>
              </span>
            </span>
            <span>Contracts</span>
          </a>
            
          <div class="navbar-item has-dropdown">
            <a class="navbar-link is-arrowless" href="#">
              <span>More</span>
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="<%= urlPrefix %>/funeralHomes">
                <span class="icon">
                  <i class="fas fa-fw fa-place-of-worship" aria-hidden="true"></i>
                </span>
                <span>Funeral Homes</span>
              </a>
              <a class="navbar-item" href="<%= urlPrefix %>/burialSites" accesskey="3">
                <span class="icon">
                  <i class="fas fa-fw fa-vector-square" aria-hidden="true"></i>
                </span>
                <span>Burial Sites</span>
              </a>
              <a class="navbar-item" href="<%= urlPrefix %>/cemeteries" accesskey="4">
                <span class="icon">
                  <i class="far fa-fw fa-map" aria-hidden="true"></i>
                </span>
                <span>Cemeteries</span>
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" href="<%= urlPrefix %>/reports">
                <span class="icon">
                  <i class="fas fa-fw fa-file" aria-hidden="true"></i>
                </span>
                <span>Reports</span>
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item" href="https://cityssm.github.io/sunrise-cms/docs"
                target="_blank"
                accesskey="h"
                rel="noopener noreferrer">
                <span class="icon">
                  <i class="fas fa-fw fa-question-circle" aria-hidden="true"></i>
                </span>
                <span>Help</span>
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a class="navbar-item" id="cityssm-theme--logout-button" role="button" href="#" accesskey="x">
            <span class="icon">
              <i class="fas fa-fw fa-sign-out-alt" aria-hidden="true"></i>
            </span>
            <span>Log Out <%=user.userName %></span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <main class="container pt-2 px-3 mr-auto has-min-page-height"
    data-session-keep-alive-millis="<%= configFunctions.keepAliveMillis %>"
    data-url-prefix="<%= urlPrefix %>"
    data-can-update="<%= user.userProperties.canUpdate ? "true" : "false" %>"
    data-is-admin="<%= user.userProperties.isAdmin ? "true" : "false" %>"
    data-api-key="<%= user.userProperties.apiKey %>">