<!DOCTYPE html>
<!-- eslint-disable-next-line html/require-closing-tags -->
<html class="has-navbar-fixed-top is-fullwidth" data-theme="light"
  lang="<%= lng || 'en' %>">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content="<%= csrfToken %>" />

    <title>
      <%= headTitle %>:
      <%= configFunctions.getConfigProperty("application.applicationName") %>
    </title>

    <link href="<%= urlPrefix + configFunctions.getConfigProperty('application.logoUrl') %>" rel="icon" />

    <link href="<%= urlPrefix %>/lib/cityssm-bulma-sticky-table/bulma-with-sticky-table.css" rel="stylesheet" />
    <link href="<%= urlPrefix %>/lib/cityssm-fa-glow/fa-glow.min.css" rel="stylesheet" />
    <link href="<%= urlPrefix %>/stylesheets/sunrise.css" rel="stylesheet" />
    <link href="<%= urlPrefix %>/lib/leaflet/leaflet.css" rel="stylesheet" />
  </head>

  <!-- eslint-disable-next-line html/require-closing-tags -->
  <body>
    <nav
      class="navbar is-light is-fixed-top"
      id="cityssm-theme--navbar"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item"
            href="<%= urlPrefix %>/dashboard"
          >
            <img
              src="<%= urlPrefix + configFunctions.getConfigProperty('application.logoUrl') %>"
              alt=""
              height="28"
              width="28"
            />
            <strong><%= configFunctions.getConfigProperty("application.applicationName") %></strong>
          </a>
          <a
            class="navbar-burger burger is-hidden-print"
            role="button"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="<%= urlPrefix %>/contracts">
              <span class="icon">
                <i class="fa-solid fa-file-contract"></i>
              </span>
              <span><%= t('contracts:contracts') %></span>
            </a>

            <a class="navbar-item" href="<%= urlPrefix %>/workOrders">
              <span class="icon">
                <i class="fa-solid fa-hard-hat"></i>
              </span>
              <span><%= t('workOrders:workOrders') %></span>
            </a>
              
            <div class="navbar-item has-dropdown">
              <a class="navbar-link" href="#">
                <span>More</span>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="<%= urlPrefix %>/funeralHomes">
                  <span class="icon">
                    <i class="fa-solid fa-place-of-worship"></i>
                  </span>
                  <span><%= t('contracts:funeralHomes') %></span>
                </a>
                <a class="navbar-item" href="<%= urlPrefix %>/burialSites"
                >
                  <span class="icon">
                    <i class="fa-solid fa-map-pin"></i>
                  </span>
                  <span><%= t('cemeteries:burialSites') %></span>
                </a>
                <a class="navbar-item" href="<%= urlPrefix %>/cemeteries"
                >
                  <span class="icon">
                    <i class="fa-regular fa-map"></i>
                  </span>
                  <span><%= t('cemeteries:cemeteries') %></span>
                </a>
                <hr class="navbar-divider" />
                <a class="navbar-item" href="<%= urlPrefix %>/reports">
                  <span class="icon">
                    <i class="fa-solid fa-file"></i>
                  </span>
                  <span><%= t('dashboard:reportLibrary') %></span>
                </a>
                <hr class="navbar-divider" />
                <a
                  class="navbar-item"
                  href="https://cityssm.github.io/sunrise-cms/docs"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <span class="icon">
                    <i class="fa-solid fa-question-circle"></i>
                  </span>
                  <span><%= t('dashboard:helpDocumentation') %></span>
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <a
              class="navbar-item"
              id="navbar--quickSearch"
              href="#"
            >
              <span class="icon">
                <i class="fa-solid fa-search"></i>
              </span>
              <span><%= t('common:search') %></span>
            </a>
            <div class="navbar-item has-dropdown">
              <a class="navbar-link" href="#">
                <span class="icon">
                  <i class="fa-solid fa-user"></i>
                </span>
                <span><%=user.userName %></span>
              </a>
              <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="<%= urlPrefix %>/dashboard/userSettings"
                >
                  <span class="icon">
                    <i class="fa-solid fa-cog"></i>
                  </span>
                  <span><%= t('dashboard:userSettings') %></span>
                </a>
                <a
                  class="navbar-item"
                  id="cityssm-theme--logout-button"
                  href="#"
                  role="button"
                >
                  <span class="icon">
                    <i class="fa-solid fa-sign-out-alt"></i>
                  </span>
                  <span><%= t('login:logout') %></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- eslint-disable-next-line html/require-closing-tags -->
    <main
      class="container pt-2 px-3 mr-auto"
      data-session-keep-alive-millis="<%= configFunctions.keepAliveMillis %>"
      data-url-prefix="<%= urlPrefix %>"
      data-can-update-cemeteries="<%= user.userProperties.canUpdateCemeteries ? 'true' : 'false' %>"
      data-can-update-contracts="<%= user.userProperties.canUpdateContracts ? 'true' : 'false' %>"
      data-can-update-work-orders="<%= user.userProperties.canUpdateWorkOrders ? 'true' : 'false' %>"
      data-is-admin="<%= user.userProperties.isAdmin ? 'true' : 'false' %>"
      data-api-key="<%= user.userSettings.apiKey %>"
      style="min-height: calc(100vh - var(--bulma-navbar-height));"
    >