<aside class="menu">
  <h2 class="menu-label is-hidden-touch">
    Cemeteries
  </h2>
  <ul class="menu-list">
    <li>
      <a class="<%= (headTitle === "Cemetery Search" ? "is-active" : "") %>"
        href="<%= urlPrefix %>/cemeteries"
        title="Cemetery Search">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-regular fa-map" aria-hidden="true"></i></span>
          </div>
          <div class="column is-hidden-touch">Cemetery Search</div>
        </div>
      </a>
    </li>
    <li>
      <a class="<%= (headTitle === "Burial Site Search" ? "is-active" : "") %>"
        href="<%= urlPrefix %>/burialSites"
        title="Burial Site Search">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-map-pin" aria-hidden="true"></i></span>
          </div>
          <div class="column is-hidden-touch">Burial Site Search</div>
        </div>
      </a>
    </li>
  </ul>
  <% if (user.userProperties.canUpdate) { %>
    <h2 class="menu-label is-hidden-touch">
      Tools
    </h2>
    <ul class="menu-list">
      <li>
        <a class="<%= (headTitle === "Burial Site Range Creator" ? "is-active" : "") %>"
          href="<%= urlPrefix %>/burialSites/creator"
          title="Burial Site Range Creator">
          <div class="columns is-mobile is-1">
            <div class="column is-narrow">
              <span class="icon"><i class="fa-solid fa-folder-plus" aria-hidden="true"></i></span>
            </div>
            <div class="column is-hidden-touch">Burial Site Range Creator</div>
          </div>
        </a>
      </li>
    </ul>
  <% } %>
  <h2 class="menu-label is-hidden-touch">
    Reports
  </h2>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/reports/?tab=cemeteries" title="Cemetery Reports">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-file" aria-hidden="true"></i></span>
          </div>
          <div class="column is-hidden-touch">Cemetery Reports</div>
        </div>
      </a>
    </li>
    <li>
      <a href="https://cityssm.github.io/sunrise-cms/docs/cemeteries.html" title="Help Documentation" rel="noopener noreferrer" target="_blank">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-circle-question" aria-hidden="true"></i></span>
          </div>
          <div class="column is-hidden-touch">Help</div>
        </div>
      </a>
    </li>
  </ul>
</aside>