<%- include('_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- include('_menu-admin'); -%>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
        <li>
          <a href="#">
            <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
            <span>Administrator Tools</span>
          </a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">
            User Management
          </a>
        </li>
      </ul>
    </nav>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          User Management
        </h1>
      </div>
      <div class="column is-narrow">
        <button class="button is-primary" id="button--addUser" type="button">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add User</span>
        </button>
      </div>
    </div>

    <% if (hasConfigUsers) { %>
    <div class="message is-warning">
      <div class="message-body content">
        <div class="columns">
          <div class="column is-7">
            <p>
              <strong>Note:</strong><br />
              Some users are configured in the application config file and will not appear in this table.
            </p>
          </div>
          <div class="column">
            <p>Users defined in config:</p>
            <ul>
              <% const allConfigUsers = [...new Set([
                  ...configUsers.canLogin,
                  ...configUsers.canUpdate,
                  ...configUsers.canUpdateCemeteries,
                  ...configUsers.canUpdateContracts,
                  ...configUsers.canUpdateWorkOrders,
                  ...configUsers.isAdmin
              ])]; %>
              <% for(const userName of allConfigUsers) { %>
                <li><%= userName %></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <div id="container--users"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.users = <%- JSON.stringify(users) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/users.admin.js"></script>

<%- include('_footerB'); -%>