<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li>
      <a href="<%= urlPrefix %>/burialSites">
        <span class="icon is-small"><i class="fas fa-vector-square" aria-hidden="true"></i></span>
        <span>Burial Sites</span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <%= burialSite.burialSiteName %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <%= burialSite.burialSiteName %>
</h1>

<div class="level is-fixed-bottom is-mobile has-background-white has-shadow is-hidden-print">
  <div class="level-left">
    <span class="level-item has-text-weight-bold">
      <%= burialSite.burialSiteName %>
    </span>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-link is-outlined has-tooltip-left"
        data-tooltip="Previous Burial Site"
        href="<%= urlPrefix %>/burialSites/<%= burialSite.burialSiteId %>/previous"
        accesskey=",">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
        <span class="sr-only">Previous Burial Site</span>
      </a>
    </div>
    <div class="level-item">
      <a class="button is-link has-tooltip-left"
        data-tooltip="Next Burial Site"
        href="<%= urlPrefix %>/burialSites/<%= burialSite.burialSiteId %>/next"
        accesskey=".">
        <span>Next</span>
        <span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
      </a>
    </div>
    <% if (user.userProperties.canUpdate) { %>
      <div class="level-item">
        <a class="button is-primary"
          href="<%= urlPrefix %>/burialSites/<%= burialSite.burialSiteId %>/edit"
          accesskey="e">
          <span class="icon"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
          <span>Switch to Edit Mode</span>
        </a>
      </div>
    <% } %>
  </div>
</div>

<div class="columns">
  <div class="column">
      <div class="panel">
          <div class="panel-block is-block">
              <div class="columns">
                  <div class="column">
                      <p class="mb-2">
                        <strong>Cemetery</strong><br />
                        <a href="<%= urlPrefix %>/cemeteries/<%= burialSite.cemeteryId %>">
                          <%= burialSite.cemeteryName || "(No Name)" %>
                        </a>
                      </p>
                      <p class="mb-2">
                        <strong>Burial Site Type</strong><br />
                        <%= burialSite.burialSiteType %>
                      </p>
                      <p>
                        <strong>Status</strong><br />
                        <%= burialSite.burialSiteStatus %>
                      </p>
                  </div>
                  <% if (burialSite.burialSiteFields.length > 0) { %>
                    <div class="column">
                      <% for (const burialSiteField of burialSite.burialSiteFields) { %>
                        <p class="mb-2">
                          <strong><%= burialSiteField.burialSiteTypeField %></strong><br />
                          <% if (burialSiteField.fieldValue) { %>
                            <%= burialSiteField.fieldValue %>
                          <% } else { %>
                            <span class="has-text-grey">(No Value)</span>
                          <% } %>
                        </p>
                      <% } %>
                    </div>
                  <% } %>
              </div>
          </div>
      </div>
  </div>
  <% if (burialSite.cemeterySvg) { %>
    <div class="column">
      <div class="panel">
        <h2 class="panel-heading">Image</h2>
        <div class="panel-block is-block">
          <% const imageURL = urlPrefix + "/images/cemeteries/" + burialSite.cemeterySvg %>
          <div class="image" id="burialSite--cemeterySvg" data-map-key="<%= burialSite.cemeterySvgId %>">
            <%- include('../public/images/cemeteries/' + burialSite.cemeterySvg); -%>
          </div>
      </div>
      </div>
    </div>
  <% } %>
</div>


<% if (burialSite.burialSiteComments.length > 0) { %>
  <div class="panel">
    <h2 class="panel-heading">Comments</h2>
    <div class="panel-block is-block">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Commentor</th>
            <th>Comment Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% for (const burialSiteComment of burialSite.burialSiteComments) { %>
            <tr>
              <td><%= burialSiteComment.recordCreate_userName %></td>
              <td>
                <%= burialSiteComment.commentDateString %>
                <%= (burialSiteComment.commentTime === 0 ? "" : burialSiteComment.commentTimePeriodString) %>
              </td>
              <td><%= burialSiteComment.comment %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
<% } %>

<div class="panel">
  <h2 class="panel-heading">
    Contracts
    <span class="tag"><%= burialSite.burialSiteContracts.length %></span>
  </h2>
  <div class="panel-block is-block">
      <% if (burialSite.burialSiteContracts.length === 0) { %>
        <div class="message is-info">
          <p class="message-body">
            There are no contracts asscociated with this burial site.
          </p>
        </div>
      <% } else { %>
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th class="has-width-10">&nbsp;</th>
              <th>Contract Type</th>
              <th>Contract Date</th>
              <th>End Date</th>
              <th>Interments</th>
            </tr>
          </thead>
          <tbody>
            <% const currentDate = dateTimeFunctions.dateToInteger(new Date()); %>
            <% for (const burialSiteContract of burialSite.burialSiteContracts) { %>
              <% const isActive = !(burialSiteContract.contractEndDate && burialSiteContract.contractEndDate < currentDate); %>
              <tr>
                <td class="has-text-centered">
                  <% if (isActive) { %>
                    <i class="fas fa-play" title="Current Contract"></i>
                  <% } else { %>
                    <i class="fas fa-stop" title="Previous Contract"></i>
                  <% } %>
                </td>
                <td>
                  <a class="has-text-weight-bold"
                    href="<%= urlPrefix %>/contracts/<%= burialSiteContract.burialSiteContractId %>">
                    <%= burialSiteContract.contractType %>
                  </a><br />
                  <span class="is-size-7">#<%= burialSiteContract.burialSiteContractId %></span>
                </td>
                <td><%= burialSiteContract.contractStartDateString %></td>
                <td>
                  <% if (burialSiteContract.contractEndDate) { %>
                    <%= burialSiteContract.contractEndDateString %>
                  <% } else { %>
                    <span class="has-text-grey">(No End Date)</span>
                  <% } %>
                </td>
                <td>
                  <% if (burialSiteContract.burialSiteContractInterments.length === 0) { %>
                    <span class="has-text-grey">(No Interments)</span>
                  <% } else { %>
                    <% for (const interment of burialSiteContract.burialSiteContractInterments) { %>
                      <%= interment.deceasedName %>
                    <% } %>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/burialSite.view.js"></script>

<%- include('_footerB'); -%>