<%- include('_header'); -%>

<div class="columns is-mobile">
  <div class="column is-3-desktop is-narrow-touch">
    <aside class="menu">
      <h2 class="menu-label is-hidden-touch">
        Reports
      </h2>
      <ul class="menu-list">
        <li>
          <a class="is-active" href="#tab--workOrders" aria-label="Work Orders">
            <span class="icon"><i class="fas fa-fw fa-hard-hat" aria-hidden="true"></i></span>
            <span class="is-hidden-touch">Work Orders</span>
          </a>
        </li> 
        <li>
          <a href="#tab--contracts" aria-label="Contracts">
            <span class="icon">
              <i class="fas fa-file-contract" aria-hidden="true"></i>
            </span>
            <span class="is-hidden-touch">Contracts</span>
          </a>
        </li> 
        <li>
          <a href="#tab--burialSites" aria-label="Burial Sites">
            <span class="icon"><i class="fas fa-fw fa-vector-square" aria-hidden="true"></i></span>
            <span class="is-hidden-touch">Burial Sites</span>
          </a>
        </li>
        <li>
          <a href="#tab--cemeteries" aria-label="Cemeteries">
            <span class="icon"><i class="far fa-fw fa-map" aria-hidden="true"></i></span>
            <span class="is-hidden-touch">Cemeteries</span>
          </a>
        </li>
      </ul>
      <h2 class="menu-label is-hidden-touch">
        Table Exports
      </h2>
      <ul class="menu-list">
        <li>
          <a href="#tab--dataTableExports" aria-label="Data Tables">
            <span class="icon"><i class="fas fa-fw fa-table" aria-hidden="true"></i></span>
            <span class="is-hidden-touch">Data Tables</span>
          </a>
        </li>
        <li>
          <a href="#tab--configTableExports" aria-label="Config Tables">
            <span class="icon"><i class="fas fa-fw fa-table" aria-hidden="true"></i></span>
            <span class="is-hidden-touch">Config Tables</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">
            <span class="icon is-small"><i class="fas fa-file" aria-hidden="true"></i></span>
            <span>Reports</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="tabs-container">
      <div id="tab--workOrders">
        <h1 class="title is-1">Work Order Reports</h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrders-open" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 mb-0">Open Work Orders</h2>
                  <p>
                    All active work orders without completion dates.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/workOrders/outlook">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-calendar" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">ICS</span>
                </div>
                <div>
                  <h2 class="title is-5 mb-0">Work Order Milestone Calendar</h2>
                  <p>
                    Upcoming and recently passed work order milestones,
                    compatible with Microsoft Outlook and other calendar tools.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
          
      <div class="is-hidden" id="tab--contracts">
        <h1 class="title is-1">Contract Reports</h1>

        <div class="panel">
            <form class="panel-block align-items-flex-start" method="get" action="<%= urlPrefix %>/reports/contracts-current-byCemeteryId">
              <div class="has-text-centered my-2 ml-2 mr-3">
                <span class="icon has-text-info">
                  <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                </span><br />
                <span class="tag is-info">CSV</span>
              </div>
              <div>
                <h2 class="title is-5 mb-0">
                  Current Contract By Cemetery
                </h2>
                <div class="field has-addons mt-2">
                  <div class="control">
                    <label class="button is-small is-static" for="contracts-current-byCemeteryId--cemeteryId">
                      Cemetery
                    </label>
                  </div>
                  <div class="control is-expanded">
                    <div class="select is-small is-fullwidth">
                      <select id="contracts-current-byCemeteryId--cemeteryId" name="cemeteryId">
                        <% for (const cemetery of cemeteries) { %>
                          <option value="<%= cemetery.cemeteryId %>">
                            <%= cemetery.cemeteryName || "(No Name)" %>
                          </option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button class="button is-small is-primary" type="submit">
                      Export
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <form class="panel-block align-items-flex-start" method="get" action="<%= urlPrefix %>/reports/contractTransactions-byTransactionDateString">
                <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                        <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 mb-0">Transactions by Date</h2>
                  <div class="field has-addons mt-2">
                    <div class="control">
                      <label class="button is-small is-static" for="contractTransactions-byTransactionDateString--transactionDateString">
                        Transaction Date
                      </label>
                    </div>
                    <div class="control is-expanded">
                      <input class="input is-small" id="contractTransactions-byTransactionDateString--transactionDateString" name="transactionDateString" type="date" value="<%= dateTimeFunctions.dateToString(new Date()) %>" required />
                    </div>
                    <div class="control">
                      <button class="button is-small is-primary" type="submit">
                        Export
                      </button>
                    </div>
                  </div>
                </div>
            </form>
        </div>
      </div>
      <div class="is-hidden" id="tab--burialSites">
        <h1 class="title is-1">Burial Site Reports</h1>

        <div class="panel">
            <form class="panel-block align-items-flex-start" method="get" action="<%= urlPrefix %>/reports/burialSites-byCemeteryId">
                <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                        <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 mb-0">
                    Burial Sites By Cemetery
                  </h2>
                  <div class="field has-addons mt-2">
                    <div class="control">
                      <label class="button is-small is-static" for="burialSites-byCemeteryId--cemeteryId">
                        Cemetery
                      </label>
                    </div>
                    <div class="control is-expanded">
                      <div class="select is-small is-fullwidth">
                        <select id="burialSites-byCemeteryId--cemeteryId" name="cemeteryId">
                          <% for (const cemetery of cemeteries) { %>
                            <option value="<%= cemetery.cemeteryId %>">
                              <%= cemetery.cemeteryName || "(No Name)" %>
                            </option>
                          <% } %>
                        </select>
                      </div>
                    </div>
                    <div class="control">
                      <button class="button is-small is-primary" type="submit">
                        Export
                      </button>
                    </div>
                  </div>
                </div>
            </form>
            <form class="panel-block align-items-flex-start" method="get" action="<%= urlPrefix %>/reports/burialSites-byBurialSiteTypeId">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 mb-0">Burial Sites By Type</h2>
                  <div class="field has-addons mt-2">
                    <div class="control">
                      <label class="button is-small is-static" for="burialSites-byBurialSiteTypeId--burialSiteTypeId">
                        Burial Site Type
                      </label>
                    </div>
                    <div class="control is-expanded">
                      <div class="select is-small is-fullwidth">
                        <select id="burialSites-byBurialSiteTypeId--burialSiteTypeId" name="burialSiteTypeId">
                          <% for (const burialSiteType of burialSiteTypes) { %>
                            <option value="<%= burialSiteType.burialSiteTypeId %>">
                              <%= burialSiteType.burialSiteType %>
                            </option>
                          <% } %>
                        </select>
                      </div>
                    </div>
                    <div class="control">
                      <button class="button is-small is-primary" type="submit">
                        Export
                      </button>
                    </div>
                  </div>
                </div>
            </form>
            <form class="panel-block align-items-flex-start" method="get" action="<%= urlPrefix %>/reports/burialSites-byBurialSiteStatusId">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                    <h2 class="title is-5 mb-0">Burial Sites By Status</h2>
                    <div class="field has-addons mt-2">
                      <div class="control">
                        <label class="button is-small is-static" for="burialSites-byBurialSiteStatusId--burialSiteStatusId">
                          Burial Site Status
                        </label>
                      </div>
                      <div class="control is-expanded">
                        <div class="select is-small is-fullwidth">
                          <select id="burialSites-byBurialSiteStatusId--burialSiteStatusId" name="burialSiteStatusId">
                            <% for (const burialSiteStatus of burialSiteStatuses) { %>
                              <option value="<%= burialSiteStatus.burialSiteStatusId %>">
                                <%= burialSiteStatus.burialSiteStatus %>
                              </option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <button class="button is-small is-primary" type="submit">
                          Export
                        </button>
                      </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <div class="is-hidden" id="tab--cemeteries">
        <h1 class="title is-1">Cemetery Reports</h1>
        <div class="panel">
            <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/cemeteries-formatted" download>
              <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
              </div>
              <div>
                  <h2 class="title is-5 mb-0">Full Cemetery List</h2>
                  <p>
                    All active cemeteries.
                  </p>
              </div>
            </a>
        </div>
      </div>

      <div class="is-hidden" id="tab--dataTableExports">
        <h1 class="title is-1">Data Table Exports</h1>
        <div class="message is-info">
          <p class="message-body">
            Note that table exports are full, unfiltered, and unformatted exports.
            They may contain deleted records that have not been fully purged.
          </p>
        </div>
        <div class="columns">
          <div class="column">
            <div class="panel">
                <h2 class="panel-heading">Contract Tables</h2>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contracts-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Contracts</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractComments-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Contract Comments</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractFees-all" download>
                    <div class="has-text-centered my-2 ml-2 mr-3">
                        <span class="icon has-text-info">
                            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                        </span><br />
                        <span class="tag is-info">CSV</span>
                    </div>
                    <div>
                        <h3 class="title is-5 is-marginless">Contract Fees</h3>
                    </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractFields-all" download>
                    <div class="has-text-centered my-2 ml-2 mr-3">
                        <span class="icon has-text-info">
                            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                        </span><br />
                        <span class="tag is-info">CSV</span>
                    </div>
                    <div>
                        <h3 class="title is-5 is-marginless">Contract Fields</h3>
                    </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractInterments-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Contract Interments</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractTransactions-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Contract Transactions</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/funeralHomes-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Funeral Homes</h3>
                  </div>
                </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
                <h2 class="panel-heading">Work Order Tables</h2>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrders-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Work Orders</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrderComments-all" download>
                    <div class="has-text-centered my-2 ml-2 mr-3">
                        <span class="icon has-text-info">
                            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                        </span><br />
                        <span class="tag is-info">CSV</span>
                    </div>
                    <div>
                        <h3 class="title is-5 is-marginless">Work Order Comments</h3>
                    </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrderBurialSites-all" download>
                    <div class="has-text-centered my-2 ml-2 mr-3">
                        <span class="icon has-text-info">
                            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                        </span><br />
                        <span class="tag is-info">CSV</span>
                    </div>
                    <div>
                        <h3 class="title is-5 is-marginless">Work Order Burial Sites</h3>
                    </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrderMilestones-all" download>
                    <div class="has-text-centered my-2 ml-2 mr-3">
                        <span class="icon has-text-info">
                            <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                        </span><br />
                        <span class="tag is-info">CSV</span>
                    </div>
                    <div>
                        <h3 class="title is-5 is-marginless">Work Order Milestones</h3>
                    </div>
                </a>
            </div>
            <div class="panel">
              <h2 class="panel-heading">Burial Site Tables</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/cemeteries-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Cemeteries</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/burialSites-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Burial Sites</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/burialSiteComments-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Burial Site Comments</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/burialSiteFields-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Burial Site Fields</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="is-hidden" id="tab--configTableExports">
        <h1 class="title is-1">Config Table Exports</h1>
        <div class="message is-info">
          <p class="message-body">
            Note that table exports are full, unfiltered, and unformatted exports.
            They may contain deleted records that have not been fully purged.
          </p>
        </div>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Fee Tables</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/fees-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Fees</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/feeCategories-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Fee Categories</h3>
                </div>
              </a>
            </div>
            <div class="panel">
                <h2 class="panel-heading">Burial Site Tables</h2>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/burialSiteTypes-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Burial Site Types</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/burialSiteTypeFields-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Burial Site Type Fields</h3>
                  </div>
                </a>
                <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/burialSiteStatuses-all" download>
                  <div class="has-text-centered my-2 ml-2 mr-3">
                    <span class="icon has-text-info">
                      <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                    </span><br />
                    <span class="tag is-info">CSV</span>
                  </div>
                  <div>
                    <h3 class="title is-5 is-marginless">Burial Site Statuses</h3>
                  </div>
                </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <h2 class="panel-heading">Contract Tables</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractTypes-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Contract Types</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractTypeFields-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Contract Type Fields</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/contractTypePrints-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Contract Type Prints</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/intermentContainerTypes-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Interment Container Types</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/committalTypes-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Committal Types</h3>
                </div>
              </a>
            </div>
            <div class="panel">
              <h2 class="panel-heading">Work Order Tables</h2>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrderTypes-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Work Order Types</h3>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="<%= urlPrefix %>/reports/workOrderMilestoneTypes-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h3 class="title is-5 is-marginless">Work Order Milestone Types</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </div>
</div>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/report.search.js"></script>

<%- include('_footerB'); -%>