<%- include('_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li class="is-active">
      <a href="#" aria-current="page">
        User Settings
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  User Settings
</h1>

<div class="panel">
  <div class="panel-heading">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <span>ConsignO Cloud</span>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <% if (configFunctions.getConfigProperty('integrations.consignoCloud.integrationIsEnabled')) { %>
            <span class="tag is-success">
              <span class="icon">
                <i class="fa-solid fa-check"></i>
              </span>
              <span>Enabled</span>
            </span>
          <% } else { %>
            <span class="tag is-danger">
              <span class="icon">
                <i class="fa-solid fa-times"></i>
              </span>
              <span>Disabled</span>
            </span>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block is-block">
    <div class="content">
      <form id="userSettingsForm--consignoCloud">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="consignoCloud--userName">ConsignO Cloud User Name</label>
              <div class="control">
                <input class="input" type="email" id="consignoCloud--userName"
                  name="userName"
                  value="<%= user.userSettings['consignoCloud.userName'] ?? '' %>" autocomplete="off" />
              </div>
              <p class="help">
                This is the email address you use to log in to ConsignO Cloud.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="consignoCloud--thirdPartyApplicationPassword">Third-Party Application Password</label>
              <div class="control">
                <input class="input" type="text" id="consignoCloud--thirdPartyApplicationPassword"
                  name="thirdPartyApplicationPassword"
                  value=""
                  placeholder="(Unchanged)"
                  autocomplete="off" />
              </div>
              <p class="help">
                This is not the same as your ConsignO Cloud password.
                It is a separate password that you can generate in your ConsignO Cloud preferences.
              </p>
            </div>
          </div>
        </div>
        <p class="has-text-right">
          <button class="button is-primary" type="submit">
            <span class="icon is-small">
              <i class="fa-solid fa-save"></i>
            </span>
            <span>Save ConsignO Cloud Settings</span>
          </button>
        </p>
      </form>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/userSettings.js"></script>

<%- include('_footerB'); -%>