<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/funeralHomes">
        <span class="icon is-small"><i class="fa-solid fa-place-of-worship"></i></span>
        <span><%= t('contracts.funeralHomes') %></span>
      </a>
    </li>
    <% if (!isCreate) { %>
    <li>
      <a href="<%= urlPrefix %>/funeralHomes/<%= funeralHome.funeralHomeId %>">
        <%= funeralHome.funeralHomeName || ('(' + t('contracts.noName') + ')') %>
      </a>
    </li>
    <% } %>
    <li class="is-active">
      <a href="#" aria-current="page">
        <% if (isCreate) { %>
        <%= t('contracts.createNewFuneralHome') %>
        <% } else { %>
        <%= t('update') %>
        <% } %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <% if (isCreate) { %>
  <%= t('contracts.createNewFuneralHome') %>
  <% } else { %>
  <%= t('contracts.updateFuneralHome') %>
  <% } %>
</h1>

<div class="columns is-vcentered p-0 is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <% if (!isCreate) { %>
    <span class="has-text-weight-bold">
      <%= funeralHome.funeralHomeName || ('(' + t('contracts.noName') + ')') %>
    </span>
    <% } %>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <% if (isCreate) { %>
      <a class="button is-danger is-light" href="<%= urlPrefix %>/funeralHomes">
        <%= t('cancel') %>
      </a>
      <button class="button is-primary is-light" type="submit" form="form--funeralHome">
        <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
        <span>
          <%= t('contracts.createNewFuneralHome') %>
        </span>
      </button>
      <% } else { %>
      <div class="field has-addons">
        <div class="control">
          <button class="button is-primary is-light" type="submit" form="form--funeralHome">
            <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
            <span>
              <%= t('contracts.updateFuneralHome') %>
            </span>
          </button>
        </div>
        <div class="control">
          <div class="dropdown is-right is-up" data-cy="dropdown--moreOptions">
            <div class="dropdown-trigger">
              <button
                class="button is-primary is-light"
                type="button"
                title="<%= t('moreOptions') %>"
                aria-haspopup="true"
              >
                <span class="icon is-small">
                  <i class="fa-solid fa-angle-up"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-content has-text-left">
                <a class="dropdown-item" id="button--deleteFuneralHome" href="#">
                  <span class="icon is-small"><i class="fa-solid fa-trash has-text-danger"></i></span>
                  <span><%= t('contracts.deleteFuneralHome') %></span>
                </a>
                <% if (configFunctions.getConfigProperty('settings.auditLog.enabled')) { %>
                <hr class="dropdown-divider" />
                <a
                  class="dropdown-item is-view-audit-log-button"
                  data-main-record-type="funeralHome"
                  data-main-record-id="<%= funeralHome.funeralHomeId %>"
                  data-record-create-user="<%= funeralHome.recordCreate_userName %>"
                  data-record-create-millis="<%= funeralHome.recordCreate_timeMillis %>"
                  data-record-update-user="<%= funeralHome.recordUpdate_userName %>"
                  data-record-update-millis="<%= funeralHome.recordUpdate_timeMillis %>"
                  data-audit-log-url="<%= urlPrefix %>/funeralHomes/doGetRecordAuditLog"
                  href="#"
                >
                  <span class="icon is-small"><i class="fa-solid fa-clock-rotate-left"></i></span>
                  <span>Audit Log</span>
                </a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<form id="form--funeralHome">
  <input
    id="funeralHome--funeralHomeId"
    name="funeralHomeId"
    type="hidden"
    value="<%= funeralHome.funeralHomeId %>"
  />

  <div class="columns">
    <div class="column">
      <div class="panel">
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="funeralHome--funeralHomeName">
              <%= t('contracts.funeralHomeName') %>
            </label>
            <div class="control">
              <input
                class="input"
                id="funeralHome--funeralHomeName"
                name="funeralHomeName"
                data-autofocus="<%= (isCreate ? 'autofocus' : '') %>"
                type="text"
                value="<%= funeralHome.funeralHomeName %>"
                maxlength="200"
                autocomplete="off"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label" for="funeralHome--funeralHomeAddress1">
              <%= t('address') %>
            </label>
            <div class="control">
              <input
                class="input"
                id="funeralHome--funeralHomeAddress1"
                name="funeralHomeAddress1"
                type="text"
                value="<%= funeralHome.funeralHomeAddress1 %>"
                maxlength="50"
                placeholder="<%= t('addressLine1') %>"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input"
                id="funeralHome--funeralHomeAddress2"
                name="funeralHomeAddress2"
                type="text"
                value="<%= funeralHome.funeralHomeAddress2 %>"
                maxlength="50"
                aria-label="<%= t('addressLine2') %>"
                placeholder="<%= t('addressLine2') %>"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="columns">
            <div class="column is-8">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomeCity">
                  <%= t('city') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomeCity"
                    name="funeralHomeCity"
                    type="text"
                    value="<%= funeralHome.funeralHomeCity %>"
                    maxlength="20"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomeProvince">
                  <%= t('province') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomeProvince"
                    name="funeralHomeProvince"
                    type="text"
                    value="<%= funeralHome.funeralHomeProvince %>"
                    maxlength="2"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomePostalCode">
                  <%= t('postalCode') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomePostalCode"
                    name="funeralHomePostalCode"
                    type="text"
                    value="<%= funeralHome.funeralHomePostalCode %>"
                    minlength="5"
                    maxlength="7"
                    autocomplete="off"
                    pattern="^[A-Za-z\d \-]+$"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomePhoneNumber">
                  <%= t('phoneNumber') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomePhoneNumber"
                    name="funeralHomePhoneNumber"
                    type="text"
                    value="<%= funeralHome.funeralHomePhoneNumber %>"
                    maxlength="30"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<%- include('../_footerA'); -%>

<% if (configFunctions.getConfigProperty('settings.auditLog.enabled') && !isCreate) { %>
<script src="<%= urlPrefix %>/javascripts/record.auditLog.js"></script>
<% } %>
<script src="<%= urlPrefix %>/javascripts/funeralHome.edit.js"></script>

<%- include('../_footerB'); -%>