<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('common:home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/funeralHomes">
        <span class="icon is-small"><i class="fa-solid fa-place-of-worship"></i></span>
        <span><%= t('contracts:funeralHomes') %></span>
      </a>
    </li>
    <% if (!isCreate) { %>
    <li>
      <a href="<%= urlPrefix %>/funeralHomes/<%= funeralHome.funeralHomeId %>">
        <%= funeralHome.funeralHomeName || t('contracts:noName') %>
      </a>
    </li>
    <% } %>
    <li class="is-active">
      <a href="#" aria-current="page">
        <% if (isCreate) { %>
        <%= t('contracts:createNewFuneralHome') %>
        <% } else { %>
        <%= t('common:update') %>
        <% } %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <% if (isCreate) { %>
  <%= t('contracts:createNewFuneralHome') %>
  <% } else { %>
  <%= t('contracts:updateFuneralHome') %>
  <% } %>
</h1>

<div class="columns is-vcentered p-0 is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <% if (!isCreate) { %>
    <span class="has-text-weight-bold">
      <%= funeralHome.funeralHomeName || t('contracts:noName') %>
    </span>
    <% } %>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <% if (isCreate) { %>
      <a class="button is-danger is-light" href="<%= urlPrefix %>/funeralHomes">
        <%= t('common:cancel') %>
      </a>
      <% } else { %>
      <div class="dropdown is-right is-up">
        <div class="dropdown-trigger">
          <button class="button" type="button">
            <span><%= t('contracts:moreOptions') %></span>
            <span class="icon is-small">
              <i class="fa-solid fa-angle-up"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a class="dropdown-item" id="button--deleteFuneralHome" href="#">
              <span class="icon is-small"><i class="fa-solid fa-trash has-text-danger"></i></span>
              <span><%= t('contracts:deleteFuneralHome') %></span>
            </a>
          </div>
        </div>
      </div>
      <% } %>
      <button class="button is-primary is-light" type="submit" form="form--funeralHome">
        <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
        <span>
          <%= (isCreate ? t('contracts:createNewFuneralHome') : t('contracts:updateFuneralHome')) %>
        </span>
      </button>
    </div>
  </div>
</div>

<form id="form--funeralHome">
  <input
    id="funeralHome--funeralHomeId"
    name="funeralHomeId"
    type="hidden"
    value="<%= funeralHome.funeralHomeId %>"
  />

  <div class="columns">
    <div class="column">
      <div class="panel">
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="funeralHome--funeralHomeName">
              <%= t('contracts:funeralHomeName') %>
            </label>
            <div class="control">
              <input
                class="input"
                id="funeralHome--funeralHomeName"
                name="funeralHomeName"
                type="text"
                value="<%= funeralHome.funeralHomeName %>"
                maxlength="200"
                autocomplete="off"
                required
                <%= (isCreate ? ' autofocus' : '') %>
              />
            </div>
          </div>
          <div class="field">
            <label class="label" for="funeralHome--funeralHomeAddress1">
              <%= t('contracts:address') %>
            </label>
            <div class="control">
              <input
                class="input"
                id="funeralHome--funeralHomeAddress1"
                name="funeralHomeAddress1"
                type="text"
                value="<%= funeralHome.funeralHomeAddress1 %>"
                maxlength="50"
                placeholder="<%= t('contracts:addressLine1') %>"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input"
                id="funeralHome--funeralHomeAddress2"
                name="funeralHomeAddress2"
                type="text"
                value="<%= funeralHome.funeralHomeAddress2 %>"
                maxlength="50"
                aria-label="<%= t('contracts:addressLine2') %>"
                placeholder="<%= t('contracts:addressLine2') %>"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="columns">
            <div class="column is-8">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomeCity">
                  <%= t('contracts:city') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomeCity"
                    name="funeralHomeCity"
                    type="text"
                    value="<%= funeralHome.funeralHomeCity %>"
                    maxlength="20"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomeProvince">
                  <%= t('contracts:province') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomeProvince"
                    name="funeralHomeProvince"
                    type="text"
                    value="<%= funeralHome.funeralHomeProvince %>"
                    maxlength="2"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomePostalCode">
                  <%= t('contracts:postalCode') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomePostalCode"
                    name="funeralHomePostalCode"
                    type="text"
                    value="<%= funeralHome.funeralHomePostalCode %>"
                    minlength="5"
                    maxlength="7"
                    autocomplete="off"
                    pattern="^[A-Z\d \-]+$"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="funeralHome--funeralHomePhoneNumber">
                  <%= t('contracts:phoneNumber') %>
                </label>
                <div class="control">
                  <input
                    class="input"
                    id="funeralHome--funeralHomePhoneNumber"
                    name="funeralHomePhoneNumber"
                    type="text"
                    value="<%= funeralHome.funeralHomePhoneNumber %>"
                    maxlength="30"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/funeralHome.edit.js"></script>

<%- include('../_footerB'); -%>