<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/funeralHomes">
        <span class="icon is-small"><i class="fa-solid fa-place-of-worship"></i></span>
        <span><%= t('contracts.funeralHomes') %></span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <%= funeralHome.funeralHomeName || ('(' + t('contracts.noName') + ')') %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <%= funeralHome.funeralHomeName || ('(' + t('contracts.noName') + ')') %>
</h1>

<% const funeralHomeIsDeleted = funeralHome.recordDelete_timeMillis !== null; %>
<% if (funeralHomeIsDeleted) { %>
<div class="message is-danger">
  <div class="message-header">
    <p><%= t('contracts.funeralHomeDeleted') %></p>
  </div>
  <div class="message-body">
    <p><%= t('contracts.funeralHomeDeletedMessage') %></p>
    <% if (!user.userProperties.isAdmin) { %>
    <p><%= t('contracts.contactAdminToRestore') %></p>
    <% } %>
  </div>
</div>
<% } %>

<div class="columns is-vcentered p-0 is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <span class="has-text-weight-bold">
      <%= funeralHome.funeralHomeName || ('(' + t('contracts.noName') + ')') %>
    </span>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <% if (!funeralHomeIsDeleted) { %>
      <a
        class="button is-info"
        href="<%= urlPrefix %>/funeralHomes/<%= funeralHome.funeralHomeId %>/previous"
        title="<%= t('contracts.previousFuneralHome') %>"
        rel="prev"
      >
        <span class="icon m-0"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="is-sr-only"><%= t('contracts.previousFuneralHome') %></span>
      </a>
      <a
        class="button is-info"
        href="<%= urlPrefix %>/funeralHomes/<%= funeralHome.funeralHomeId %>/next"
        title="<%= t('next') %>"
        rel="next"
      >
        <span><%= t('next') %></span>
        <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
      </a>
      <% } %>
      <% if (funeralHomeIsDeleted && user.userProperties.isAdmin) { %>
      <button
        class="button is-danger is-restore-funeral-home-button"
        data-funeral-home-id="<%= funeralHome.funeralHomeId %>"
        type="button"
      >
        <span class="icon"><i class="fa-solid fa-rotate-left"></i></span>
        <span><%= t('contracts.restoreFuneralHome') %></span>
      </button>
      <% } else if (!funeralHomeIsDeleted && user.userProperties.canUpdateContracts) { %>
      <div class="field has-addons">
        <div class="control">
          <a
            class="button is-primary"
            href="<%= urlPrefix %>/funeralHomes/<%= funeralHome.funeralHomeId %>/edit"
          >
            <span class="icon"><i class="fa-solid fa-pencil-alt"></i></span>
            <span>
              <%= t('edit') %>
              <span class="is-hidden-mobile"><%= t('contracts.funeralHome') %></span>
            </span>
          </a>
        </div>
        <% if (configFunctions.getConfigProperty('settings.auditLog.enabled')) { %>
        <div class="control">
          <div class="dropdown is-right is-up">
            <div class="dropdown-trigger">
              <button
                class="button is-primary"
                type="button"
                title="<%= t('moreOptions') %>"
                aria-haspopup="true"
              >
                <span class="icon is-small"><i class="fa-solid fa-angle-up"></i></span>
              </button>
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-content has-text-left">
                <a
                  class="dropdown-item is-view-audit-log-button"
                  data-main-record-type="funeralHome"
                  data-main-record-id="<%= funeralHome.funeralHomeId %>"
                  data-record-create-user="<%= funeralHome.recordCreate_userName %>"
                  data-record-create-millis="<%= funeralHome.recordCreate_timeMillis %>"
                  data-record-update-user="<%= funeralHome.recordUpdate_userName %>"
                  data-record-update-millis="<%= funeralHome.recordUpdate_timeMillis %>"
                  data-audit-log-url="<%= urlPrefix %>/funeralHomes/doGetRecordAuditLog"
                  href="#"
                >
                  <span class="icon is-small"><i class="fa-solid fa-clock-rotate-left"></i></span>
                  <span><%= t('auditLog') %></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">
        <strong><%= t('address') %></strong><br />
        <% if (funeralHome.funeralHomeAddress1 !== "") { %>
        <%= funeralHome.funeralHomeAddress1 %><br />
        <% } %>
        <% if (funeralHome.funeralHomeAddress2 !== "") { %>
        <%= funeralHome.funeralHomeAddress2 %><br />
        <% } %>
        <%= funeralHome.funeralHomeCity %>, <%= funeralHome.funeralHomeProvince %><br />
        <%= funeralHome.funeralHomePostalCode %>
      </div>
      <% if (funeralHome.funeralHomePhoneNumber !== "") { %>
      <div class="column">
        <strong><%= t('phoneNumber') %></strong><br />
        <%= funeralHome.funeralHomePhoneNumber %>
      </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('./_viewEdit-services'); -%>

<%- include('../_footerA'); -%>

<% if (configFunctions.getConfigProperty('settings.auditLog.enabled') && user.userProperties.canUpdateContracts) { %>
<script src="<%= urlPrefix %>/javascripts/record.auditLog.js"></script>
<% } %>
<script src="<%= urlPrefix %>/javascripts/funeralHome.view.js"></script>

<%- include('../_footerB'); -%>