<!-- eslint-disable html/indent -->
<%
  let activeCount = 0
  let pastCount = 0

  const todayInteger = dateTimeFunctions.dateToInteger(new Date())

  for (const contract of burialSite.contracts) {
    if (contract.contractEndDate && contract.contractEndDate < todayInteger) {
      pastCount += 1
    } else {
      activeCount += 1
    }
  }
%>
<!-- eslint-enable html/indent -->

<div class="panel">
  <div class="panel-heading">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h2 class="has-text-weight-bold is-size-5">
            Contracts
          </h2>
        </div>
        <div class="level-item">
          <div class="tags">
            <% if (activeCount > 0) { %>
            <span class="tag is-success">
              <span class="icon is-small">
                <i class="fa-solid fa-play"></i>
              </span>
              <span>
                <%= activeCount %>
                Active
              </span>
            </span>
            <% } %>
            <% if (pastCount > 0) { %>
            <span class="tag">
              <span class="icon is-small">
                <i class="fa-solid fa-stop"></i>
              </span>
              <span>
                <%= pastCount %> Past
              </span>
            </span>
            <% } %>
          </div>
        </div>
      </div>
      <div class="level-right">
        <% if (isEdit) { %>
        <div class="level-item">
          <a
            class="button is-success is-small has-text-weight-normal"
            href="<%= urlPrefix %>/contracts/new?burialSiteId=<%= burialSite.burialSiteId %>"
          >
            <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
            <span>Create New Contract</span>
          </a>
        </div>
        <% } %>
        <% if (pastCount > 0) { %>
        <div class="level-item">
          <button class="button is-info is-small"
            id="burialSite--contractsToggle" type="button">
            <span class="icon"><i class="fa-solid fa-eye"></i></span>
            <span>Show/Hide Past Contracts</span>
          </button>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="panel-block is-block">
    <% if (burialSite.contracts.length === 0) { %>
    <div class="message is-info">
      <p class="message-body">
        There are no contracts associated with this burial site.
      </p>
    </div>
    <% } else { %>
    <table class="table is-fullwidth is-striped is-hoverable has-sticky-header">
      <thead>
        <tr>
          <% if (configFunctions.getConfigProperty("settings.contracts.contractEndDateIsAvailable")) { %>
          <th class="has-width-1">&nbsp;</th>
          <% } %>
          <th>Contract Type</th>
          <th>Contract Date</th>
          <% if (configFunctions.getConfigProperty("settings.contracts.contractEndDateIsAvailable")) { %>
          <th>End Date</th>
          <% } %>
          <th>Interments</th>
        </tr>
      </thead>
      <tbody id="burialSite--contractsTbody">
        <% for (const contract of burialSite.contracts) { %>
        <tr class="<%= contract.contractIsActive ? '' : 'is-hidden' %>" data-is-active="<%= contract.contractIsActive %>">
          <% if (configFunctions.getConfigProperty("settings.contracts.contractEndDateIsAvailable")) { %>
          <td class="has-text-centered">
            <% if (contract.contractIsFuture) { %>
            <i class="fa-solid fa-fast-forward" title="Future Contract"></i>
            <% } else if (contract.contractIsActive) { %>
            <i class="fa-solid fa-play" title="Current Contract"></i>
            <% } else { %>
            <i class="fa-solid fa-stop" title="Previous Contract"></i>
            <% } %>
          </td>
          <% } %>
          <td>
            <a class="has-text-weight-bold" href="<%= urlPrefix %>/contracts/<%= contract.contractId %>">
              <%= contract.contractType %>
            </a><br />
            <span class="is-size-7">
              #<%= contract.contractNumber %>
            </span>
          </td>
          <td><%= contract.contractStartDateString %></td>
          <% if (configFunctions.getConfigProperty("settings.contracts.contractEndDateIsAvailable")) { %>
          <td>
            <% if (contract.contractEndDate) { %>
            <%= contract.contractEndDateString %>
            <% } else { %>
            <span class="has-text-grey">(<%= t('noEndDate') %>)</span>
            <% } %>
          </td>
          <% } %>
          <td>
            <% if (contract.contractInterments.length === 0) { %>
            <span class="has-text-grey">(<%= t('contracts.noInterments') %>)</span>
            <% } else { %>
            <% for (const interment of contract.contractInterments) { %>
            <div class="columns">
              <div class="column">
                <%= interment.deceasedName %>
              </div>
              <div class="column">
                <% if (interment.intermentContainerType) { %>
                <span class="tag"><%= interment.intermentContainerType %></span>
                <% } %>
                <% if (interment.intermentDepth) { %>
                <span class="tag"><%= interment.intermentDepth %></span>
                <% } %>
              </div>
            </div>
            <% } %>
            <% } %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
  </div>
</div>