<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/burialSites">
        <span class="icon is-small"><i class="fa-solid fa-map-pin"></i></span>
        <span><%= t('cemeteries.burialSites') %></span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <%= burialSite.burialSiteName %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <%= burialSite.burialSiteName %>
</h1>

<% const burialSiteIsDeleted = burialSite.recordDelete_timeMillis !== null; %>
<% if (burialSiteIsDeleted) { %>
<div class="message is-danger">
  <div class="message-header">
    <p><%= t('cemeteries.burialSiteDeleted') %></p>
  </div>
  <div class="message-body">
    <p>This burial site has been deleted. It is no longer available for use.</p>

    <% if (!user.userProperties.isAdmin) { %>
    <p>To restore this burial site, please contact your system administrator.</p>
    <% } %>
  </div>
</div>
<% } %>

<div class="columns is-vcentered is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <span class="has-text-weight-bold">
      <%= burialSite.burialSiteName %>
    </span>
  </div>
  <div class="column is-narrow has-text-right">
    <% if (burialSiteIsDeleted && user.userProperties.isAdmin) { %>
    <button class="button is-danger is-restore-burial-site-button"
      data-burial-site-id="<%= burialSite.burialSiteId %>"
      type="button"
    >
      <span class="icon"><i class="fa-solid fa-rotate-left"></i></span>
      <span>Restore Burial Site</span>
    </button>
    <% } else if (!burialSiteIsDeleted) { %>
    <div class="buttons is-right">
      <a
        class="button is-info"
        href="<%= urlPrefix %>/burialSites/<%= burialSite.burialSiteId %>/previous"
        title="Previous Burial Site"
        rel="prev"
      >
        <span class="icon m-0"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="is-sr-only">Previous Burial Site</span>
      </a>
      <a
        class="button is-info"
        href="<%= urlPrefix %>/burialSites/<%= burialSite.burialSiteId %>/next"
        title="Next Burial Site"
        rel="next"
      >
        <span>Next</span>
        <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
      </a>
      <% if (user.userProperties.canUpdateCemeteries) { %>
      <div class="field has-addons">
        <div class="control">
          <a class="button is-primary"
            href="<%= urlPrefix %>/burialSites/<%= burialSite.burialSiteId %>/edit"
          >
            <span class="icon"><i class="fa-solid fa-pencil-alt"></i></span>
            <span>
              Edit
              <span class="is-hidden-mobile">Burial Site</span>
            </span>
          </a>
        </div>
        <% if (configFunctions.getConfigProperty('settings.auditLog.enabled')) { %>
        <div class="control">
          <div class="dropdown is-right is-up">
            <div class="dropdown-trigger">
              <button class="button is-primary" type="button" aria-haspopup="true">
                <span class="icon is-small"><i class="fa-solid fa-angle-up"></i></span>
              </button>
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-content has-text-left">
                <a
                  class="dropdown-item is-view-audit-log-button"
                  data-main-record-type="burialSite"
                  data-main-record-id="<%= burialSite.burialSiteId %>"
                  data-record-create-user="<%= burialSite.recordCreate_userName %>"
                  data-record-create-millis="<%= burialSite.recordCreate_timeMillis %>"
                  data-record-update-user="<%= burialSite.recordUpdate_userName %>"
                  data-record-update-millis="<%= burialSite.recordUpdate_timeMillis %>"
                  data-audit-log-url="<%= urlPrefix %>/burialSites/doGetRecordAuditLog"
                  href="#"
                >
                  <span class="icon is-small"><i class="fa-solid fa-clock-rotate-left"></i></span>
                  <span>Audit Log</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<div class="panel">
  <div class="panel-block is-block">
    <div class="columns">
      <div class="column">
        <p class="mb-2">
          <strong>Cemetery</strong><br />
          <% if (burialSite.cemeteryId === null) { %>
          <span class="has-text-grey">(<%= t('cemeteries.noCemetery') %>)</span>
          <% } else { %>
          <a href="<%= urlPrefix %>/cemeteries/<%= burialSite.cemeteryId %>">
            <%= burialSite.cemeteryName || ('(' + t('cemeteries.noName') + ')') %>
          </a>
          <% } %>
        </p>
        <p>
          <strong>Burial Site Type</strong><br />
          <%= burialSite.burialSiteType %>
        </p>
      </div>
      <div class="column">
        <p class="mb-2">
          <%
          const bodyCapacity = burialSite.bodyCapacity ??
            burialSite.bodyCapacityMax ??
            settingFunctions.getSettingValue('burialSiteTypes.bodyCapacityMaxDefault')

          const crematedCapacity = burialSite.crematedCapacity ??
            burialSite.crematedCapacityMax ??
            settingFunctions.getSettingValue('burialSiteTypes.crematedCapacityMaxDefault')
          %>
          <strong>Capacity</strong><br />
          <%= bodyCapacity %> bodies,
          <%= crematedCapacity %> cremated remains
        </p>
        <p>
          <strong>Status</strong><br />
          <% if (burialSite.burialSiteStatusId === null) { %>
          <span class="has-text-grey">(<%= t('cemeteries.noStatus') %>)</span>
          <% } else { %>
          <%= burialSite.burialSiteStatus %>
          <% } %>
        </p>
      </div>
      <% if (burialSite.burialSiteFields.length > 0) { %>
      <div class="column">
        <% for (const burialSiteField of burialSite.burialSiteFields) { %>
        <p class="mb-2">
          <strong><%= burialSiteField.burialSiteTypeField %></strong><br />
          <% if (burialSiteField.fieldValue) { %>
          <%= burialSiteField.fieldValue %>
          <% } else { %>
          <span class="has-text-grey">(<%= t('noValue') %>)</span>
          <% } %>
        </p>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <h2 class="title is-5 has-text-weight-bold has-text-white">Geographic Location</h2>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <i class="fa-solid fa-map-marker-alt"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <!-- eslint-disable html/no-duplicate-id -->
        <% if (burialSite.burialSiteLatitude && burialSite.burialSiteLongitude) { %>
        <div
          id="burialSite--leaflet"
          data-latitude="<%= burialSite.burialSiteLatitude %>"
          data-longitude="<%= burialSite.burialSiteLongitude %>"
          style="height:300px"
        ></div>
        <% } else if (burialSite.cemeteryLatitude && burialSite.cemeteryLongitude) { %>
        <div class="message is-info">
          <p class="message-body">
            <strong>Coordinates not available for this burial site.</strong><br />
            Coordinates for the cemetery are shown instead.
          </p>
        </div>
        <div
          id="burialSite--leaflet"
          data-latitude="<%= burialSite.cemeteryLatitude %>"
          data-longitude="<%= burialSite.cemeteryLongitude %>"
          style="height:300px"
        ></div>
        <% } else { %>
        <div class="message is-info">
          <p class="message-body">
            There are no geographic coordinates associated with this burial site.
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <h2 class="title is-5 has-text-weight-bold has-text-white">Image</h2>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <i class="fa-solid fa-image"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block is-block">
        <% if (burialSite.burialSiteImage) { %>
        <div class="image">
          <img src="<%= urlPrefix %>/public-internal/images/burialSites/<%= burialSite.burialSiteImage %>" alt="Burial Site" />
        </div>
        <% } else if (burialSite.cemeterySvg) { %>
        <% const imageURL = urlPrefix + "/public-internal/images/cemeteries/" + burialSite.cemeterySvg %>
        <div class="image" id="burialSite--cemeterySvg" data-cemetery-svg-id="<%= burialSite.cemeterySvgId %>">
          <%- include('../../' + configFunctions.getConfigProperty('settings.customizationsPath') + '/public-internal/images/cemeteries/' + burialSite.cemeterySvg); -%>
        </div>
        <% } else { %>
        <div class="message is-info">
          <p class="message-body">There are no images associated with this burial site.</p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>


<% if (burialSite.burialSiteComments.length > 0) { %>
<div class="panel">
  <h2 class="panel-heading">Comments</h2>
  <div class="panel-block is-block">
    <table class="table is-fullwidth is-striped is-hoverable">
      <thead>
        <tr>
          <th>Author</th>
          <th>Comment Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% for (const burialSiteComment of burialSite.burialSiteComments) { %>
        <tr>
          <td><%= burialSiteComment.recordCreate_userName %></td>
          <td>
            <%= burialSiteComment.commentDateString %>
            <%= (burialSiteComment.commentTime === 0 ? "" : burialSiteComment.commentTimePeriodString) %>
          </td>
          <td><%= burialSiteComment.comment %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<% } %>

<%- include('./_viewEdit-contracts', { isEdit: false }) %>

<%- include('../_footerA'); -%>

<% if (configFunctions.getConfigProperty('settings.auditLog.enabled') && user.userProperties.canUpdateCemeteries) { %>
<script src="<%= urlPrefix %>/javascripts/record.auditLog.js"></script>
<% } %>
<script src="<%= urlPrefix %>/javascripts/burialSite.view.js"></script>

<%- include('../_footerB'); -%>