<aside class="menu" aria-label="<%= t('workOrders:workOrders') %>">
  <h2 class="menu-label is-hidden-touch"><%= t('workOrders:workOrders') %></h2>
  <ul class="menu-list">
    <%
    const isWorkOrderSearch = headTitle === t('workOrders:workOrderSearch');
    %>
    <li>
      <a
        class="<%= (isWorkOrderSearch ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/workOrders"
        title="<%= t('workOrders:workOrderSearch') %>"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-hard-hat"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('workOrders:workOrderSearch') %></div>
        </div>
      </a>
      <% if (isWorkOrderSearch && user.userProperties.canUpdateWorkOrders) { %>
      <ul>
        <li>
          <a
            href="<%= urlPrefix %>/workOrders/new"
            title="<%= t('workOrders:createNewWorkOrder') %>"
          >
            <span class="is-hidden-touch"><%= t('workOrders:createNewWorkOrder') %></span>
            <span class="icon is-hidden-desktop"><i class="fa-solid fa-plus"></i></span>
          </a>
        </li>
      </ul>
      <% } %>
    </li>
    <li>
      <a
        class="<%= (headTitle === t('workOrders:workdayReport') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/workOrders/workday"
        title="<%= t('workOrders:workdayReport') %>"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-calendar-check"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('workOrders:workdayReport') %></div>
        </div>
      </a>
    </li>
    <li>
      <a
        class="<%= (headTitle === t('workOrders:milestoneCalendar') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/workOrders/milestoneCalendar"
        title="<%= t('workOrders:milestoneCalendar') %>"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-calendar"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('workOrders:milestoneCalendar') %></div>
        </div>
      </a>
    </li>
  </ul>
  <h2 class="menu-label is-hidden-touch"><%= t('dashboard:reports') %></h2>
  <ul class="menu-list">
    <li>
      <a
        class="<%= (headTitle === t('workOrders:icalIntegration') ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/workOrders/ical"
        title="<%= t('workOrders:icalIntegration') %>"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon">
              <i class="fa-solid fa-envelope-open-text"></i>
            </span>
          </div>
          <div class="column is-hidden-touch"><%= t('workOrders:icalIntegration') %></div>
        </div>
      </a>
    </li>
    <li>
      <a
        href="<%= urlPrefix %>/reports/?tab=workOrders"
        title="<%= t('workOrders:workOrderReports') %>"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-file"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('workOrders:workOrderReports') %></div>
        </div>
      </a>
    </li>
    <li>
      <a
        href="https://cityssm.github.io/sunrise-cms/docs/workOrders.html"
        title="Help Documentation"
        rel="noopener noreferrer"
        target="_blank"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon">
              <i class="fa-solid fa-circle-question"></i>
            </span>
          </div>
          <div class="column is-hidden-touch"><%= t('common:help') %></div>
        </div>
      </a>
    </li>
  </ul>
</aside>
