<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/workOrders">
        <span class="icon is-small"><i class="fa-solid fa-hard-hat"></i></span>
        <span><%= t('workOrders') %></span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <%= t('workOrders.milestoneCalendar') %>
      </a>
    </li>
  </ul>
</nav>

<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-1">
      <%= t('workOrders.milestoneCalendar') %>
    </h1>
  </div>
  <div class="column is-narrow has-text-right">
    <%
    const currentDate = new Date();
    const currentMonth = currentDate.getMonth() + 1;
    %>
    <form id="form--searchFilters">
      <input name="workOrderMilestoneDateFilter" type="hidden" value="yearMonth" />
      <div class="field has-addons">
        <div class="control is-hidden-print">
          <button
            class="button"
            id="button--previousMonth"
            type="button"
            title="Previous Month"
          >
            <span class="icon is-small">
              <i class="fa-solid fa-arrow-left"></i>
            </span>
          </button>
        </div>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select
              id="searchFilter--workOrderMilestoneMonth"
              name="workOrderMilestoneMonth"
              data-value="<%= currentMonth %>"
              aria-label="Month"
            >
              <option value="1"><%= t('month.1') %></option>
              <option value="2"><%= t('month.2') %></option>
              <option value="3"><%= t('month.3') %></option>
              <option value="4"><%= t('month.4') %></option>
              <option value="5"><%= t('month.5') %></option>
              <option value="6"><%= t('month.6') %></option>
              <option value="7"><%= t('month.7') %></option>
              <option value="8"><%= t('month.8') %></option>
              <option value="9"><%= t('month.9') %></option>
              <option value="10"><%= t('month.10') %></option>
              <option value="11"><%= t('month.11') %></option>
              <option value="12"><%= t('month.12') %></option>
            </select>
          </div>
        </div>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select
              id="searchFilter--workOrderMilestoneYear"
              name="workOrderMilestoneYear"
              data-value="<%= currentDate.getFullYear() %>"
              aria-label="Year"
            >
              <% for (let year = (new Date().getFullYear() - 5); year <= (new Date().getFullYear() + 1); year += 1) { %>
              <option value="<%= year %>"><%= year %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="control is-hidden-print">
          <button
            class="button"
            id="button--nextMonth"
            type="button"
            title="Next Month"
          >
            <span class="icon is-small">
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="container--milestoneCalendar"></div>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/workOrder.milestoneCalendar.js"></script>

<%- include('../_footerB'); -%>