<aside class="menu" aria-label="<%= t('contracts:contracts') %>">
  <h2 class="menu-label is-hidden-touch">
    <%= t('contracts:contracts') %>
  </h2>
  <ul class="menu-list">
    <%
    const isContractSearch = headTitle === t('contracts:contractSearch');
    const isFuneralHomeSearch = headTitle === t('contracts:funeralHomeSearch');
    %>
    <li>
      <a class="<%= (isContractSearch ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/contracts"
        title="<%= t('contracts:contractSearch') %>">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-file-contract"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('contracts:contractSearch') %></div>
        </div>
      </a>
      <% if (isContractSearch && user.userProperties.canUpdateContracts) { %>
      <ul>
        <li>
          <a
            href="<%= urlPrefix %>/contracts/new"
            title="<%= t('contracts:createNewContract') %>"
          >
            <span class="is-hidden-touch"><%= t('contracts:createNewContract') %></span>
            <span class="icon is-hidden-desktop"><i class="fa-solid fa-plus"></i></span>
          </a>
        </li>
      </ul>
      <% } %>
    </li>
    <li>
      <a class="<%= (isFuneralHomeSearch ? 'is-active' : '') %>"
        href="<%= urlPrefix %>/funeralHomes"
        title="<%= t('contracts:funeralHomeSearch') %>">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-place-of-worship"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('contracts:funeralHomeSearch') %></div>
        </div>
      </a>
      <% if (isFuneralHomeSearch && user.userProperties.canUpdateContracts) { %>
      <ul>
        <li>
          <a
            href="<%= urlPrefix %>/funeralHomes/new"
            title="<%= t('contracts:createNewFuneralHome') %>"
          >
            <span class="is-hidden-touch"><%= t('contracts:createNewFuneralHome') %></span>
            <span class="icon is-hidden-desktop"><i class="fa-solid fa-plus"></i></span>
          </a>
        </li>
      </ul>
      <% } %>
    </li>
  </ul>
  <% if (user.userProperties.isAdmin) { %>
  <h2 class="menu-label is-hidden-touch">
    <%= t('admin:adminTools') %>
  </h2>
  <ul class="menu-list is-hidden-touch">
    <li>
      <a href="<%= urlPrefix %>/admin/contractTypes"
        title="<%= t('admin:contractTypeManagement') %>">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-gear"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('admin:contractTypeManagement') %></div>
        </div>
      </a>
    </li>
    <li>
      <a href="<%= urlPrefix %>/admin/fees"
        title="<%= t('admin:feeManagement') %>">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-gear"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('admin:feeManagement') %></div>
        </div>
      </a>
    </li>
  </ul>
  <% } %>
  <h2 class="menu-label is-hidden-touch">
    <%= t('dashboard:reports') %>
  </h2>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/reports/?tab=contracts" title="<%= t('contracts:contractReports') %>">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-file"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('contracts:contractReports') %></div>
        </div>
      </a>
    </li>
    <li>
      <a
        href="https://cityssm.github.io/sunrise-cms/docs/contracts.html"
        title="Help Documentation"
        rel="noopener noreferrer"
        target="_blank"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon"><i class="fa-solid fa-circle-question"></i></span>
          </div>
          <div class="column is-hidden-touch"><%= t('common:help') %></div>
        </div>
      </a>
    </li>
  </ul>
</aside>