<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard"><%= t('home') %></a></li>
    <li>
      <a href="<%= urlPrefix %>/contracts">
        <span class="icon is-small">
          <i class="fa-solid fa-file-contract"></i>
        </span>
        <span><%= t('contracts') %></span>
      </a>
    </li>
    <% if (!isCreate) { %>
    <li>
      <a href="<%= urlPrefix %>/contracts/<%= contract.contractId %>">
        Contract #<%= contract.contractNumber %><% if (contract.burialSiteName) { %>: <%= contract.burialSiteName %><% } %>
      </a>
    </li>
    <% } %>
    <li class="is-active">
      <a href="#" aria-current="page">
        <% if (isCreate) { %>
        <%= t('contracts.createNewContract') %>
        <% } else { %>
        <%= t('contracts.contractUpdate') %>
        <% } %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <% if (isCreate) { %>
  <%= t('contracts.createNewContract') %>
  <% } else { %>
  Update Contract #<%= contract.contractNumber %>
  <% } %>
</h1>
  
<div class="columns is-vcentered is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column has-text-weight-bold">
    <% if (!isCreate) { %>
    Contract #<%= contract.contractNumber %><% if (contract.burialSiteName) { %>: <%= contract.burialSiteName %><% } %>
    <% } %>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <% if (!isCreate && contractTypePrints.length > 0) { %>
      <div class="dropdown is-right is-up">
        <div class="dropdown-trigger">
          <button class="button" type="button" aria-label="Print">
            <span class="icon"><i class="fa-solid fa-print"></i></span>
            <span class="is-hidden-touch">Print</span>
            <span class="icon"><i class="fa-solid fa-angle-up"></i></span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content has-text-left">
            <% for (const printName of contractTypePrints) { %>
              <% const printConfig = printFunctions.getPrintConfig(printName); %>
              <% if (printConfig) { %>
                <a class="dropdown-item" href="<%= urlPrefix %>/print/<%= printName %>/?contractId=<%= contract.contractId %>" target="_blank">
                  <span class="icon"><i class="fa-solid fa-print"></i></span>
                  <span><%= printConfig.title %></span>
                </a>
              <% } %>
            <% } %>
            <% if (userHasConsignoCloudAccess) { %>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" id="button--sendToConsignoCloud" href="#">
                <span class="icon"><i class="fa-solid fa-signature"></i></span>
                <span>Send to ConsignO Cloud for Signing</span>
              </a>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>

      <% if (isCreate) { %>
      <a class="button is-danger is-light" href="<%= urlPrefix %>/contracts">
        Cancel
      </a>
      <% } else { %>
      <div class="dropdown is-right is-up" data-cy="dropdown--moreOptions">
        <div class="dropdown-trigger">
          <button class="button" type="button">
            <span>
              <span class="is-hidden-touch">More</span>
              Options
            </span>
            <span class="icon">
              <i class="fa-solid fa-angle-up"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content has-text-left">
            <a class="dropdown-item" id="button--copyContract" href="#">
              <span class="icon"><i class="fa-regular fa-copy"></i></span>
              <span>Copy Contract as New</span>
            </a>
            <a class="dropdown-item" id="button--deleteContract" href="#">
              <span class="icon"><i class="fa-solid fa-trash has-text-danger"></i></span>
              <span>Delete Contract</span>
            </a>
            <% if (configFunctions.getConfigProperty('settings.auditLog.enabled')) { %>
            <hr class="dropdown-divider" />
            <a
              class="dropdown-item is-view-audit-log-button"
              data-main-record-type="contract"
              data-main-record-id="<%= contract.contractId %>"
              data-record-create-user="<%= contract.recordCreate_userName %>"
              data-record-create-millis="<%= contract.recordCreate_timeMillis %>"
              data-record-update-user="<%= contract.recordUpdate_userName %>"
              data-record-update-millis="<%= contract.recordUpdate_timeMillis %>"
              data-audit-log-url="<%= urlPrefix %>/contracts/doGetRecordAuditLog"
              href="#"
              >
              <span class="icon"><i class="fa-solid fa-clock-rotate-left"></i></span>
              <span>Audit Log</span>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>

      <button class="button is-primary is-light" type="submit" form="form--contract">
        <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
        <span>
          <%= (isCreate ? "Create" : "Update") %>
          <span class="is-hidden-mobile">
            Contract
          </span>
        </span>
      </button>
    </div>
  </div>
</div>

<form id="form--contract">
  <input
    id="contract--contractId"
    name="contractId"
    type="hidden"
    value="<%= contract.contractId %>"
  />
  
  <div class="panel">
    <div class="panel-block is-block">
      <div class="columns">
        <div class="column">
          <label class="label" for="contract--contractTypeId">
            Contract Type
          </label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select
                  class="<%= isCreate ? '' : 'is-readonly' %>"
                  id="contract--contractTypeId"
                  name="contractTypeId"
                  data-autofocus="<%= (isCreate ? 'true' : '') %>"
                  data-value="<%= contract.contractTypeId %>"
                  required
                >
                  <% if (isCreate) { %>
                  <option data-is-preneed="false" value="">(Select a Type)</option>
                  <% } %>
                  <% let typeIsFound = false; %>
                  <% for (const contractType of contractTypes) { %>
                    <%
                      if (contract.contractTypeId === contractType.contractTypeId) { 
                        typeIsFound = true;
                      }
                    %>
                    <option
                      data-is-preneed="<%= contractType.isPreneed ? 'true' : 'false' %>"
                      data-disabled="<%= (!isCreate && contract.contractTypeId !== contractType.contractTypeId ? 'true' : 'false') %>"
                      value="<%= contractType.contractTypeId %>"
                    >
                      <%= contractType.contractType %>
                    </option>
                  <% } %>
                  <% if (contract.contractTypeId && !typeIsFound) { %>
                    <option
                      value="<%= contract.contractTypeId %>"
                      data-is-preneed="<%= contract.isPreneed ? 'true' : 'false' %>"
                      selected
                    >
                      <%= contract.contractType %>
                    </option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="control is-hidden-print">
              <button class="button is-unlock-field-button" type="button" title="Unlock Contract Type Field">
                <span class="icon"><i class="fa-solid fa-unlock"></i></span>
              </button>
            </div>
          </div>

          <input
            id="contract--burialSiteId"
            name="burialSiteId"
            type="hidden"
            value="<%= contract.burialSiteId %>"
          />
          <label class="label" for="contract--burialSiteName">
            Burial Site
          </label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                class="input is-clickable has-text-left <%= (isCreate ? '' : ' is-readonly') %>"
                id="contract--burialSiteName"
                data-required="<%= (configFunctions.getConfigProperty('settings.contracts.burialSiteIdIsRequired') ? 'true' : 'false') %>"
                data-disabled="<%= (isCreate ? '' : 'true') %>"
                data-readonly="<%= (isCreate ? '' : 'readonly') %>"
                type="button"
                value="<%= contract.burialSiteName || ('(' + t('contracts.noBurialSite') + ')') %>"
              />
            </div>
            <div class="control is-hidden-print">
              <button class="button is-clear-burial-site-button" type="button" title="Clear">
                <span class="icon"><i class="fa-solid fa-eraser"></i></span>
              </button>
            </div>
            <div class="control is-hidden-print">
              <button class="button is-unlock-field-button" type="button" title="Unlock Field">
                <span class="icon"><i class="fa-solid fa-unlock"></i></span>
              </button>
            </div>
            <div class="control is-hidden-print">
              <button class="button is-burial-site-view-button" type="button" title="Open Burial Site">
                <span class="icon"><i class="fa-solid fa-external-link-alt"></i></span>
              </button>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label class="label" for="contract--contractStartDateString">Contract Date</label>
            <div class="control has-icons-left">
              <input
                class="input"
                id="contract--contractStartDateString"
                name="contractStartDateString"
                type="date"
                value="<%= contract.contractStartDateString %>"
                required
              />
              <span class="icon is-left">
                <i class="fa-solid fa-calendar"></i>
              </span>
            </div>
          </div>
          <% if (configFunctions.getConfigProperty("settings.contracts.contractEndDateIsAvailable")) { %>
          <div class="field">
            <label class="label" for="contract--contractEndDateString">End Date</label>
            <div class="control has-icons-left">
              <input
                class="input"
                id="contract--contractEndDateString"
                name="contractEndDateString"
                data-required="<%= (configFunctions.getConfigProperty('settings.contracts.contractEndDateIsRequired') ? 'true' : 'false') %>"
                type="date"
                value="<%= contract.contractEndDateString %>"
                min="<%= contract.contractStartDateString %>"
              />
              <span class="icon is-left">
                <i class="fa-solid fa-calendar"></i>
              </span>
            </div>
          </div>
          <% } %>
        </div>
        <div class="column">
          <div id="container--contractFields">
            <% if (isCreate) { %>
              <div class="message is-info">
                <p class="message-body">
                  Select the contract type to load the available fields.
                </p>
              </div>
            <% } else if (contract.contractFields.length === 0) { %>
              <div class="message is-info">
                <p class="message-body">
                  The current contract type has no additional fields.
                </p>
              </div>
            <% } else { %>
              <% let contractTypeFieldIds = ""; %>
              <!-- eslint-disable html/no-duplicate-id -->
              <% for (const contractField of contract.contractFields) { %>
                <% contractTypeFieldIds += "," + contractField.contractTypeFieldId; %>
                <div class="field">
                  <label class="label" for="contract--fieldValue_<%= contractField.contractTypeFieldId %>">
                    <%= contractField.contractTypeField %>
                  </label>
                  <div class="control">
                    <% if (contractField.fieldType === 'select' || (contractField.fieldValues ?? '') !== "") { %>
                      <%
                        const fieldValues = contractField.fieldValues.split("\n");
                        let valueFound = false;
                      %>
                      <div class="select is-fullwidth">
                        <select
                          id="contract--fieldValue_<%= contractField.contractTypeFieldId %>"
                          name="fieldValue_<%= contractField.contractTypeFieldId %>"
                        >
                          <% if (!contractField.isRequired || contractField.contractFieldValue === "") { %>
                            <option value="">(<%= t('contracts.notSet') %>)</option>
                          <% } %>
                          <% for (const fieldValue of fieldValues) { %>
                            <% 
                              if (fieldValue === contractField.fieldValue) {
                                valueFound = true;
                              }
                            %>
                            <option value="<%= fieldValue %>"
                              data-selected="<%= (fieldValue === contractField.fieldValue ? 'true' : 'false') %>"
                            >
                              <%= fieldValue %>
                            </option>
                          <% } %>
                          <% if (!valueFound && contractField.fieldValue !== "") { %>
                            <option value="<%= contractField.fieldValue %>" selected>
                              <%= contractField.fieldValue %>
                            </option>
                          <% } %>
                        </select>
                      </div>
                    <% } else { %>
                      <input class="input"
                        id="contract--fieldValue_<%= contractField.contractTypeFieldId %>"
                        name="fieldValue_<%= contractField.contractTypeFieldId %>"
                        type="<%= contractField.fieldType %>"
                        value="<%= contractField.fieldValue %>"
                        data-pattern="<%= contractField.pattern %>"
                        minlength="<%= contractField.minLength %>"
                        maxlength="<%= contractField.maxLength %>"
                        data-required="<%= contractField.isRequired ? 'true' : 'false' %>"
                        />
                    <% } %>
                  </div>
                </div>
              <% } %>
              <!-- eslint-enable html/no-duplicate-id -->
              <input id="contract--contractTypeFieldIds" name="contractTypeFieldIds" type="hidden" value="<%= contractTypeFieldIds.slice(1) %>" />
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <% if (isCreate) { %>
  <div class="message is-info">
    <p class="message-body">
      Related data, like service types, can be added after the contract is created.
    </p>
  </div>
  <% } else { %>
  <div class="panel">
    <div class="panel-heading">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <h2 class="has-text-weight-bold is-size-5">Service Types</h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button is-small is-success is-hidden-print" id="button--addServiceType" type="button">
              <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
              <span>Add Service Type</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-block is-block" id="container--contractServiceTypes"></div>
  </div>
  <% } %>

  <%- include('./_edit-services'); -%>

  <div class="columns">
    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <h2 class="has-text-weight-bold is-size-5">Purchaser</h2>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <i class="fa-solid fa-hand-holding-dollar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-block is-block">
          <div class="field">
            <label class="label" for="contract--purchaserName">
              Purchaser Name
            </label>
            <div class="control has-icons-right">
              <input class="input" id="contract--purchaserName" name="purchaserName" type="text"
                maxlength="100" autocomplete="off" required
                value="<%= contract.purchaserName %>" />
              <span class="icon is-right">
                <i class="fa-solid fa-asterisk"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label" for="contract--purchaserAddress1">Address</label>
            <div class="control">
              <input class="input" id="contract--purchaserAddress1" name="purchaserAddress1" type="text"
                maxlength="50" placeholder="Line 1" autocomplete="off"
                value="<%= contract.purchaserAddress1 %>" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="contract--purchaserAddress2" name="purchaserAddress2" type="text"
                maxlength="50" placeholder="Line 2" autocomplete="off" aria-label="Address Line 2"
                value="<%= contract.purchaserAddress2 %>" />
            </div>
          </div>
          <div class="field">
            <label class="label" for="contract--purchaserCity">City</label>
            <div class="control">
              <input class="input" id="contract--purchaserCity" name="purchaserCity" type="text" maxlength="20"
                value="<%= contract.purchaserCity %>"
                list="datalist--cityDefault" />
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="contract--purchaserProvince">Province</label>
                <div class="control">
                  <input
                    class="input"
                    id="contract--purchaserProvince"
                    name="purchaserProvince"
                    type="text"
                    value="<%= contract.purchaserProvince %>"
                    maxlength="2"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="contract--purchaserPostalCode">Postal Code</label>
                <div class="control">
                  <input
                    class="input"
                    id="contract--purchaserPostalCode"
                    name="purchaserPostalCode"
                    type="text"
                    value="<%= contract.purchaserPostalCode %>"
                    minlength="5"
                    maxlength="7"
                    autocomplete="off"
                    pattern="^[A-Z\d \-]+$"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label" for="contract--purchaserPhoneNumber">Phone Number</label>
                <div class="control">
                  <input class="input" id="contract--purchaserPhoneNumber" name="purchaserPhoneNumber" type="text"
                    maxlength="30" autocomplete="off"
                    value="<%= contract.purchaserPhoneNumber %>" />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="contract--purchaserEmail">Email Address</label>
                <div class="control">
                  <input class="input" id="contract--purchaserEmail" name="purchaserEmail" type="email"
                    maxlength="100" autocomplete="off"
                    value="<%= contract.purchaserEmail %>" />
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label" for="contract--purchaserRelationship">
              Relationship to Recipient
              </span>
            </label>
            <div class="control">
              <input class="input" id="contract--purchaserRelationship" name="purchaserRelationship" type="text"
                maxlength="100" autocomplete="off"
                list="datalist--purchaserRelationships"
                value="<%= contract.purchaserRelationship %>" />
            </div>
          </div>
          <datalist id="datalist--purchaserRelationships">
            <% for (const relationship of dataLists.purchaserRelationships) { %>
              <option value="<%= relationship %>"></option>
            <% } %>
          </datalist>
        </div>
      </div>
    </div>
    <div class="column">
      <%- include('./_edit-interments') %>
    </div>
  </div>
</form>

<% if (!isCreate) { %>

<%- include('./_edit-fees') %>

<%- include('./_viewEdit-workOrders', { isEdit: user.userProperties.canUpdateWorkOrders }) %>

<div class="panel">
  <div class="panel-heading">
    <div class="level is-mobile">
      <div class="level-left">
        <h2 class="has-text-weight-bold is-size-5">
          <%= t('contracts.relatedContracts') %>
        </h2>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-small is-success is-hidden-print" id="button--addRelatedContract" type="button">
            <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
            <span><%= t('contracts.addRelatedContract') %></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block is-block" id="container--relatedContracts"></div>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h2 class="has-text-weight-bold is-size-5">Comments</h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-small is-success is-hidden-print" id="button--addComment" type="button">
            <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
            <span>Add Comment</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block is-block" id="container--contractComments"></div>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <h2 class="has-text-weight-bold">Attachments</h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-small is-success is-hidden-print" id="button--uploadAttachment" type="button">
            <span class="icon is-small"><i class="fa-solid fa-upload"></i></span>
            <span>Upload Attachment</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block is-block" id="container--contractAttachments"></div>
</div>

<% } %>

<datalist id="datalist--cityDefault">
  <option value="<%= settingFunctions.getSettingValue('defaults.city') %>"></option>
</datalist>

<%
  const burialSiteNameSegments = configFunctions.getConfigProperty('settings.burialSites.burialSiteNameSegments')
%>
<div class="is-hidden" id="template--burialSiteNameSegments">
  <div class="field has-addons">
    <% for (let segmentIndex = 1; segmentIndex <= 5; segmentIndex += 1) { %>
      <%
        const segmentIndexString = segmentIndex.toString();
        const segment = burialSiteNameSegments.segments[segmentIndexString];
      %>
      <% if (segment?.isAvailable ?? false) { %>
        <% if (segmentIndex !== 1 && (burialSiteNameSegments.separator ?? '') !== '') { %>
          <p class="control">
            <span class="button is-static">
              <%= burialSiteNameSegments.separator %>
            </span>
          </p>
        <% } %>
        <% if ((segment.prefix ?? '') !== '') { %>
          <p class="control">
            <span class="button is-static">
              <%= segment.prefix %>
            </span>
          </p>
        <% } %>
        <div class="control"
          title="<%= segment.label ?? '' %>">

          <input
            class="input"
            name="burialSiteNameSegment<%= segmentIndexString %>"
            data-required="<%= (segment.isRequired ?? false) ? 'true' : 'false' %>"
            type="text" 
            minlength="<%= Math.max(Math.min(segment.minLength ?? 1, 20), 1) %>"
            maxlength="<%= Math.max(Math.min(segment.maxLength ?? 20, 20), 1) %>"
            aria-label="<%= segment.label ?? '' %>"
            placeholder="<%= segment.label ?? '' %>"
          />
        </div>
        <% if ((segment.suffix ?? '') !== '') { %>
          <p class="control">
            <span class="button is-static">
              <%= segment.suffix %>
            </span>
          </p>
        <% } %>
      <% } %>
    <% } %>
  </div>
</div>
    
<%- include('../_footerA'); -%>

<% if (!isCreate) { %>
<script>
  exports.cityDefault = "<%= settingFunctions.getSettingValue('defaults.city') %>";
  exports.provinceDefault = "<%= settingFunctions.getSettingValue('defaults.province') %>";

  exports.contractInterments = <%- JSON.stringify(contract.contractInterments) %>;
  exports.intermentContainerTypes = <%- JSON.stringify(intermentContainerTypes) %>;
  exports.intermentDepths = <%- JSON.stringify(intermentDepths) %>;
  exports.deathAgePeriods = <%- JSON.stringify(dataLists.deathAgePeriods) %>;

  exports.contractComments = <%- JSON.stringify(contract.contractComments) %>;
  exports.contractFees = <%- JSON.stringify(contract.contractFees) %>;
  exports.contractServiceTypes = <%- JSON.stringify(contract.contractServiceTypes ?? []) %>;
  exports.contractTransactions = <%- JSON.stringify(contract.contractTransactions) %>;
  
  exports.contractEndDateIsAvailable = <%= JSON.stringify(configFunctions.getConfigProperty("settings.contracts.contractEndDateIsAvailable")) %>;
  exports.relatedContracts = <%- JSON.stringify(contract.relatedContracts) %>;

  exports.serviceTypes = <%- JSON.stringify(serviceTypes) %>;
  exports.workOrderTypes = <%- JSON.stringify(workOrderTypes) %>;
  exports.workOrderMilestoneTypes = <%- JSON.stringify(workOrderMilestoneTypes) %>;

  exports.maxAttachmentFileSize = <%= configFunctions.getConfigProperty('application.maxAttachmentFileSize') %>;
  exports.contractAttachments = <%- JSON.stringify(contract.contractAttachments) %>;
</script>
<% } %>

<script>
  exports.burialSiteStatuses = <%- JSON.stringify(burialSiteStatuses) %>;
  exports.burialSiteTypes = <%- JSON.stringify(burialSiteTypes) %>;
  exports.cemeteries = <%- JSON.stringify(cemeteries) %>;
  exports.directionsOfArrival = <%- JSON.stringify(dataLists.directionsOfArrival) %>;
</script>

<script src="<%= urlPrefix %>/javascripts/contract.edit.js"></script>

<% if (!isCreate) { %>
  <script src="<%= urlPrefix %>/javascripts/contract.editInterments.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contract.editFees.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contract.editWorkOrders.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contract.editServiceTypes.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contract.editRelated.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contract.editComments.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contract.editAttachments.js"></script>

  <% if (userHasConsignoCloudAccess) { %>
    <script src="<%= urlPrefix %>/javascripts/contract.consignoCloud.js"></script>
  <% } %>

  <% if (configFunctions.getConfigProperty('settings.auditLog.enabled')) { %>
    <script src="<%= urlPrefix %>/javascripts/record.auditLog.js"></script>
  <% } %>
<% } %>

<%- include('../_footerB'); -%>
